<section class="chooseus spad" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Acompañanos</span>
                    <h2>Descubre el método Más Bella</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="chooseus__item">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" style="enable-background:new 0 0 512 512" viewBox="0 0 682.7 682.7"><defs><clipPath id="a" clipPathUnits="userSpaceOnUse"><path fill="#d80a7c" d="M0 512h512V0H0Z" data-original="#000000"/></clipPath></defs><g fill="none" stroke="#d80a7c" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="15" clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.7)"><path d="M0 0c41.7-11.6 79-33.8 108.7-63.5" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(322.8 143.7)"/><path d="M0 0a248 248 0 0 0 114.6 65.1" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(80.4 80.1)"/><path d="M0 0c52 8.7 98.5 33.5 134.2 69.2" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(297.4 362.6)"/><path d="M0 0a247.8 247.8 0 0 1 134.3-69.2" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(80.4 431.9)"/><path d="M0 0c17-106.6 75.7-185.3 145.5-185.3S274-106.8 291-.4" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(110.5 192.8)"/><path d="M0 0c24.1 83.9 76 141.8 136 141.8 59.9 0 111.7-58 135.8-141.8" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(120 362.6)"/><path d="M0 0v108.5" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(256 7.5)"/><path d="M0 0v141.8" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(256 362.6)"/><path d="M0 0a248.5 248.5 0 0 0 449 0" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(31.5 362.6)"/><path d="M0 0a248.5 248.5 0 0 1 441.3 127.2" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(61.6 101.2)"/><path d="M0 0a247 247 0 0 0-35.6 103" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(44.6 125.4)"/><path d="M0 0h57.4v-142.2a28.7 28.7 0 1 0-57.4 0V0" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(366.6 362.6)"/><path d="m0 0 7-7a18.3 18.3 0 0 0-26-26l-7 7A18.3 18.3 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(362.6 212.2)"/><path d="m0 0 15.5-15.5a18.3 18.3 0 0 0-25.9-26l-15.5 15.6A18.3 18.3 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(328.2 194.8)"/><path d="m0 0 7-7a18.3 18.3 0 1 0-26-26l-7 7A18.3 18.3 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(310.7 160.3)"/><path d="M0 0v0a18.3 18.3 0 1 0-26 0v0A18.3 18.3 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(291.8 127.4)"/><path d="M0 0h89.7c8.2 0 16-3.2 21.7-9l29-28.9" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(131.4 362.6)"/><path d="m0 0 4.3-4.3a27.9 27.9 0 0 0 0-39.4 27.8 27.8 0 0 0-19.8-8.2c-7.1 0-14.2 2.8-19.7 8.2L-78.9 0" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(292.9 303.5)"/><path d="m0 0-46.4-46.5A21.5 21.5 0 0 0-77-16l92.6 92.6" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(198.3 227)"/><path d="m0 0-49.6-49.6A21.5 21.5 0 0 0-80-19L-40.8 20" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(239 206.9)"/><path d="m0 0-27.3-27.3A21.5 21.5 0 1 0-57.7 3.2l39 39" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(257.8 164.7)"/><path d="M0 0c-5.5 0-11 2.1-15.2 6.3a21.5 21.5 0 0 0-6.3 15.2 21.5 21.5 0 0 0 6.3 15.2h0l12.4 12.4 24.4 24.4" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(260.6 115.5)"/><path d="M0 0h-145.5" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(366.6 362.6)"/><path d="M0 0v141.7h-57.4V-.5a28.7 28.7 0 0 1 41.2-25.9" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(131.4 221)"/><path d="M0 0a13.1 13.1 0 1 0-26.2 0A13.1 13.1 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(408.7 326.5)"/><path d="M0 0a13.1 13.1 0 1 0-26.2 0A13.1 13.1 0 0 0 0 0Z" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(115.8 326.5)"/><path d="M0 0h-80.5v134.3H0" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(504.5 228.4)"/><path d="M0 0h66.4v-134.3H0" data-original="#000000" style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(7.5 362.6)"/></g></svg>
                    <h5>Apoyo comercial</h5>
                    <ul>
                        <li><i class="fa--check-circle mr-3"></i>Asesoramiento en la elección del local.</li>
                        <li><i class="fa--check-circle mr-3"></i>Apoyo en la búsqueda de financiación.</li>
                        <li><i class="fa--check-circle mr-3"></i>Formación inicial y continuada.</li>
                        <li><i class="fa--check-circle mr-3"></i>Análisis y seguimiento de ventas.</li>
                        <li><i class="fa--check-circle mr-3"></i>Visitas periódicas y asistencia.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="chooseus__item">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" style="enable-background:new 0 0 512 512" viewBox="0 0 64 64"><g fill="#d80a7c"><path d="M37 54h-2v-9.8a1 1 0 0 0-2 0V54H7V34h8.3a1 1 0 0 0 0-2H6a1 1 0 0 0-1 1v21H3a1 1 0 0 0-1 1v2a5 5 0 0 0 5 5h26a5 5 0 0 0 5-5v-2a1 1 0 0 0-1-1zm-1 3a3 3 0 0 1-3 3h-2v-1a1 1 0 0 0-2 0v1H11v-1a1 1 0 0 0-2 0v1H7a3 3 0 0 1-3-3v-1h32zM54 8h2a1 1 0 0 0 0-2h-2a3 3 0 0 0-3 3v1h-1a1 1 0 0 0 0 2h1v3a1 1 0 0 0 2 0v-3h1a1 1 0 0 0 0-2h-1V9a1 1 0 0 1 1-1z" data-original="#000000"/><path d="M59 2H47a3 3 0 0 0-3 3v2a1 1 0 0 0 2 0V5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H47a1 1 0 0 1-1-1v-6a1 1 0 0 0-2 0v6a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zM49 42a4 4 0 1 0 4-4 4 4 0 0 0-4 4zm6 0a2 2 0 1 1-2-2 2 2 0 0 1 2 2z" data-original="#000000"/><path d="M59 33H47a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-2a1 1 0 0 0-2 0v2a1 1 0 0 1-1 1H47a1 1 0 0 1-1-1V36a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v6a1 1 0 0 0 2 0v-6a3 3 0 0 0-3-3zM24.5 13.9a1 1 0 0 0 .5.1 1 1 0 0 0 .5-.1l6-3a1 1 0 0 0 0-1.8l-6-3A1 1 0 0 0 24 7v6a1 1 0 0 0 .5.8zM26 8.6l2.8 1.4-2.8 1.4z" data-original="#000000"/><path d="M27 19a9 9 0 1 0-9-9 9 9 0 0 0 9 9zm0-16a7 7 0 1 1-7 7 7 7 0 0 1 7-7zm10 20a1 1 0 0 0 .8-.4l3-4a1 1 0 0 0-1.6-1.2l-3 4a1 1 0 0 0 .2 1.4 1 1 0 0 0 .6.2zm2.2 3.6a1 1 0 0 0 .8.4 1 1 0 0 0 .6-.2l4-3a1 1 0 1 0-1.2-1.6l-4 3a1 1 0 0 0-.2 1.4zm9.8 2.2a1 1 0 0 0-1.2-.8l-5 1a1 1 0 0 0 .2 2h.2l5-1a1 1 0 0 0 .8-1.2zM3 29h12a1 1 0 0 0 1-1V12a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1zm1-16h10v14H4z" data-original="#000000"/><path d="M11 15H9a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2zm0 4H7a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2zm0 4H7a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2zm25.1 5.7a1 1 0 0 0-1.7 1l4.4 7.6-16 6h-.2L20 44.8l-1.7 1a2 2 0 0 1-1.5.2 2 2 0 0 1-1.2-.9l-2-3.5a2 2 0 0 1 .7-2.6l3.5-2 2.5 4.3a1 1 0 0 0 .9.5 1 1 0 0 0 .8-1.5L19.5 36 32 25.5l.4.7a1 1 0 1 0 1.7-1l-1-1.7a1 1 0 0 0-.6-.5 1 1 0 0 0-.9.2l-14 11.6-4.2 2.4a4 4 0 0 0-1.9 4.6l-1 .5a3 3 0 0 0 .8 5.5 3 3 0 0 0 .7.1 3 3 0 0 0 1.5-.4l1-.5a3.9 3.9 0 0 0 1.8 1 3.8 3.8 0 0 0 1 .1 4 4 0 0 0 2-.5l1-.5 2 3.5a3 3 0 0 0 4 1 3 3 0 0 0 1.1-4l-1.8-3.2 15-5.6a1 1 0 0 0 .6-.6 1 1 0 0 0-.1-.9zm-23.6 17a1 1 0 0 1-.8.2 1 1 0 0 1-.6-.5 1 1 0 0 1 0-.7 1 1 0 0 1 .4-.6l.9-.5 1 1.7zm13.2 2.9a1 1 0 0 1 0 .7 1 1 0 0 1-.4.6 1 1 0 0 1-1.4-.3L22 46l1.7-1z" data-original="#000000"/></g></svg>
                    <h5>Publicidad y marketing</h5>
                    <ul>
                        <li><i class="fa--check-circle mr-3"></i>Plan de marketing de lanzamiento</li>
                        <li><i class="fa--check-circle mr-3"></i>Campañas de publicidad en RRSS.</li>
                        <li><i class="fa--check-circle mr-3"></i>Soporte en la elaboración de planes</li>
                        <li><i class="fa--check-circle mr-3"></i>Presencia en nuestra web y redes sociales</li>
                        <li><i class="fa--check-circle mr-3"></i>Diseño y suministro de merchandising</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="chooseus__item">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="64" height="64" style="enable-background:new 0 0 512 512" viewBox="0 0 64 64"><g fill="#d80a7c"><path d="M15 1v10.3a7 7 0 0 0-2-.3 7 7 0 0 0-7 7 7 7 0 0 0 2.7 5.5A11 11 0 0 0 1 34v7a4 4 0 0 0 4 4h1v14a4 4 0 0 0 4 4 4 4 0 0 0 3-1.4 4 4 0 0 0 3 1.4 4 4 0 0 0 4-4V34.3c0-.5 0-.9.2-1.3H63V1zM8 18a5 5 0 1 1 10 0 5 5 0 0 1-10 0zm6 14.6-1 1-1-1 .7-7.6h.6zm4 1.7V59a2 2 0 0 1-4 0V41h-2v18a2 2 0 0 1-4 0V32H6v11H5a2 2 0 0 1-2-2v-7a9 9 0 0 1 7.7-8.9l-.7 8.3 3 3 3-3-.7-8.4h3a7 7 0 0 0 3.7-1l11-6.8a1.3 1.3 0 0 1 2 1.1v.4c0 .5-.2.9-.6 1.2l-13.2 8.5a7 7 0 0 0-3.2 5.9zM29 17c0-5.2 4-9.4 9-10v10.4l7.3 7.3A10 10 0 0 1 39 27a10 10 0 0 1-7.2-3l3.7-2.5a3.3 3.3 0 0 0 1.5-2.8v-.4a3.3 3.3 0 0 0-5-2.8l-3 1.8V17zm17.7 6.3L41.4 18H49a10 10 0 0 1-2.2 5.3zM40 16V7a10 10 0 0 1 9 9zm21 15H21.2a5 5 0 0 1 1-1l7.9-5a11.9 11.9 0 0 0 8.9 4 12 12 0 1 0-11.9-10.5l-6.2 3.8a5 5 0 0 1-2.6.7h-.4a7 7 0 0 0 2.1-5 7 7 0 0 0-3-5.7V3h44z" data-original="#000000"/><path d="M56 47.8a7 7 0 0 0 3-5.8 7 7 0 1 0-11 5.8 11 11 0 0 0-6 5.6 11 11 0 0 0-6-5.6 7 7 0 0 0 3-5.8 7 7 0 1 0-11 5.8A11 11 0 0 0 21 58v5h42v-5c0-4.7-3-8.6-7-10.2zM47 42a5 5 0 1 1 10 0 5 5 0 0 1-10 0zm-20 0a5 5 0 1 1 10 0 5 5 0 0 1-10 0zm14 19h-3v-8h-2v8h-8v-8h-2v8h-3v-3a9 9 0 0 1 18 0zm20 0h-3v-8h-2v8h-8v-8h-2v8h-3v-3a9 9 0 0 1 18 0zm-5-38h-5v3a3 3 0 0 0 3 3h2a3 3 0 0 0 0-6zm0 4h-2a1 1 0 0 1-1-1v-1h3a1 1 0 0 1 0 2zM22 11h5V8a3 3 0 0 0-3-3h-2a3 3 0 0 0 0 6zm0-4h2c.6 0 1 .4 1 1v1h-3a1 1 0 0 1 0-2zm31-2h6v2h-6zm0 4h6v2h-6zm0 4h6v2h-6zm0 4h6v2h-6z" data-original="#000000"/></g></svg>
                    <h5>Formación</h5>
                    <ul>
                        <li><i class="fa--check-circle mr-3"></i>Entrega de los manuales.</li>
                        <li><i class="fa--check-circle mr-3"></i>Programa de formación de arranque.</li>
                        <li><i class="fa--check-circle mr-3"></i>Plan de formación y asistencia continuada.</li>
                        <li><i class="fa--check-circle mr-3"></i>Visitas continuas de apoyo.</li>
                        <li><i class="fa--check-circle mr-3"></i>Resolución de inicidencias.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    ul li {
        list-style: none;
        text-align: left;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
        color: #666666;
        font-weight: 400;
        line-height: 25px;
    }
    .chooseus {
        padding-bottom: 50px;
    }

    .chooseus__item {
        text-align: center;
        margin-bottom: 30px;
    }

    .chooseus__item h5 {
        font-size: 20px;
        color: #111111;
        font-weight: 600;
        margin-top: 26px;
        margin-bottom: 16px;
    }

    .chooseus__item p {
        margin-bottom: 0;
    }
    .fa--check-circle {
		display: inline-block;
		width: 1em;
		height: 1em;
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1536 1536'%3E%3Cpath fill='%23000' d='M1284 606q0-28-18-46l-91-90q-19-19-45-19t-45 19L677 877L451 651q-19-19-45-19t-45 19l-91 90q-18 18-18 46q0 27 18 45l362 362q19 19 45 19q27 0 46-19l543-543q18-18 18-45m252 162q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768'/%3E%3C/svg%3E");
		background-color: currentColor;
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
        color:var(--color-primary);
	}

</style>