<section class="section section-partners">
  <div class="container mx-auto">
    
    <div class="section-title text-center">
        <span>Nuestros partners</span>
        <h2>Trabajamos con las últimas tecnologías</h2>
    </div>
      <div class="grid grid-cols-12">
        <div class="col-span-12 sm:col-span-6 md:col-span-4 px-4">
          <div class="square-holder">
            <img
              alt="partner bellaction-duo"
              loading="lazy"
              src="img/partners/bellaction-duo.png"
            />
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4 px-4">
          <div class="square-holder">
            <img
              alt="partner skin-clinic"
              loading="lazy"
              src="img/partners/skin-clinic.png"
            />
          </div>
        </div>
        <div class="col-span-12 sm:col-span-6 md:col-span-4 px-4">
          <div class="square-holder">
            <img
              alt="partner opphalo"
              loading="lazy"
              src="img/partners/opphalo.png"
            />
          </div>
        </div>
      </div>
  </div>
</section>

<style>
.section-partners{
    margin: 100px 0px;
}
.square-holder {
  padding:30px;
  border: 1px solid var(--color-primary);
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  background-color:var(--bg-light);
  min-height:200px
}

.square-holder img {
  max-width:100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.square-holder:hover img{
  filter:none;
}
</style>