<section class="doctor spad">
    <div class="container mx-auto">
        <div class="doctor__item">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-4 lg:order-1">
                    <div class="doctor__item__pic">
                        <img loading="lazy" class="mx-auto" src="img/supplies/insumos.jpg" alt="insumos para la franquicia">
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-8 lg:order-2">
                    <div class="doctor__item__text">
                        <span>Servicio integral</span>
                        <h2>Sin preocupaciones por insumos o materiales</h2>
                        <p>garantizando que cada establecimiento cuente con todos los
                            materiales e insumos necesarios para brindar servicios de calidad a sus
                            clientes.
                            Nosotros nos encargamos de la gestión de proveedores, la búsqueda de
                            los mejores precios y la verificación de la calidad de los productos,</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="doctor__item">
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-6 lg:order-4">
                    <div class="doctor__item__pic">
                        <img loading="lazy" class="mx-auto" src="img/supplies/carteleria.jpg" alt="cartelería mas bella">
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-6 lg:order-3">
                    <div class="doctor__item__text  doctor__item__text--left">
                        <span>Cartelería</span>
                        <h2>Diseño e imprenta</h2>
                        <p>Nosotros nos encargamos del diseño y la imprenta, solo tienes que recibirlo.
                            Contamos con un equipo de diseño para crear diseños atractivos y efectivos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>

.doctor__item {
	padding-bottom: 65px;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 65px;
}

.doctor__item:last-child {
	padding-bottom: 0;
	border-bottom: none;
	margin-bottom: 0;
}

.doctor__item__pic {
	text-align: center;
}

.doctor__item__pic img {
	height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8%;
    border: 4px solid #fff;
    -webkit-box-shadow: 0px 3px 10px rgba(48,68,78,0.2);
    box-shadow: 0px 3px 10px rgba(48,68,78,0.2);
}

.doctor__item__text {
	padding-top: 25px;
}

.doctor__item__text.doctor__item__text--left {
	text-align: right;
}

.doctor__item__text span {
	color: var(--color-primary);
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	margin-bottom: 6px;
}

.doctor__item__text h2 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 20px;
}

.doctor__item__text ul {
	margin-bottom: 30px;
}

.doctor__item__text ul li {
	list-style: none;
	font-size: 15px;
	color: #666666;
	line-height: 36px;
}

.doctor__item__text ul li i {
	color: var(--color-primary);
	font-size: 15px;
	margin-right: 6px;
}

.doctor__item__social a {
	display: inline-block;
	height: 50px;
	width: 50px;
	background: #f2f7f8;
	font-size: 18px;
	color: #111111;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	margin-right: 6px;
}

.doctor__item__social a:last-child {
	margin-right: 0;
}
</style>