PUBLIC_TELPHONE_READBLE=
PUBLIC_TELPHONE_LINKEABLE=
PUBLIC_WHATSAPP_READBLE=
PUBLIC_WHATSAPP_LINKEABLE=
PUBLIC_DATE_LINK=
PUBLIC_EMAIL=
PUBLIC_ADDRESS=
PUBLIC_ADDRESS_LEGAL=
PUBLIC_SCHEDULES=
PUBLIC_INSTAGRAM=
PUBLIC_FACEBOOK=
PUBLIC_MAP_URL=
PUBLIC_MAP_IFRAME=
PUBLIC_ENDPOINT=
PUBLIC_SITE_KEY=
PUBLIC_SECRET_KEY=

PUBLIC_SUC1_WHATSAPP_READBLE=
PUBLIC_SUC1_WHATSAPP_LINKEABLE=
PUBLIC_SUC1_SCHEDULES=
PUBLIC_SUC1_ADDRESS=
PUBLIC_SUC1_MAP_URL=
PUBLIC_SUC1_MAP_IFRAME=