/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
// 3.  Header Section
// 4.  Hero Section
5.  Consultation Section
6.  Banner Section
7.  Chooseus Section
8.  Team Section
9.  Gallery
10.  Footer Style
-------------------------------------------------------------------*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
:root {
  --font-default: 'Montserrat', sans-serif;
  --font-primary: 'Rubik', sans-serif;
  --font-secondary: "Work Sans", sans-serif;

  --color-default: #d80a7c;
  --color-primary: #d80a7c;
  --color-secondary: black;
  --color-hover: #e63f9b;
  --footer: #b71b6d;
  --bg-light:#fee7f7;

  scroll-behavior: smooth;
}
.btn-masbella {
  background-color: var(--color-primary);
  color: white;
  border: none;
}
.btn-masbella:hover {
	background-color: white;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
  }
.color-primary {
  color: var(--color-primary) !important;
}
.bg-light {
  background-color: var(--bg-light) !important;
}
html,
body {
	height: 100%;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: #666666;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: inherit;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
}

.section-title span {
	font-size: 15px;
	color: #888888;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.section-title h2 {
	color: var(--color-primary);
	font-weight: 700;
	margin-top: 8px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 30px 10px;
	text-transform: uppercase;
	color: #111111;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid var(--color-primary);
	border-radius: 5px;
}
.primary-btn:hover {

	color: #fff;
	border: 2px solid var(--color-primary);
	background-color: var(--color-primary);
}
.contact-select {
	color: #fff !important;
	border: 2px solid var(--color-primary) !important;
	background-color: var(--color-primary) !important;
}

.primary-btn.normal-btn {
	background: var(--color-primary);
	color: #ffffff;
	font-weight: 600;
}

.site-btn {
	font-size: 15px;
	color: #ffffff;
	background: var(--color-primary);
	font-weight: 600;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 14px 30px 12px;
}




/*---------------------
  Team
-----------------------*/

.team {
	padding-bottom: 70px;
}

.team__item {
	text-align: center;
	margin-bottom: 30px;
}

.team__item:hover img {
	border-color: var(--color-primary);
}

.team__item img {
	height: 270px;
	width: 270px;
	border-radius: 50%;
	border: 10px solid #ffffff;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 32px;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.team__item h5 {
	font-size: 20px;
	color: #111111;
	font-weight: 600;
	margin-bottom: 5px;
}

.team__item span {
	font-size: 15px;
	color: var(--color-primary);
	display: block;
	margin-bottom: 12px;
}

.team__item .team__item__social a {
	font-size: 15px;
	color: #666666;
	display: inline-block;
	margin-right: 20px;
}

.team__item .team__item__social a:last-child {
	margin-right: 0;
}

/*---------------------
  Gallery
-----------------------*/

.gallery {
	overflow: hidden;
}

.gallery__container {
	margin-right: -20px;
}

.gallery__container .gc__item {
	height: 338px;
	width: calc(25% - 20px);
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.gallery__container .gc__item:hover:after {
	opacity: 1;
}

.gallery__container .gc__item:hover a {
	opacity: 1;
	visibility: visible;
}

.gallery__container .gc__item:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(19, 161, 183, 0.5);
	content: "";
	z-index: -1;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	opacity: 0;
}

.gallery__container .gc__item a {
	font-size: 30px;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.gallery__container .gc__item.gc__item__large {
	height: 696px;
}

.grid-sizer {
	width: calc(25% - 20px);
}

/*---------------------
  Latest
-----------------------*/

.latest {
	padding-top: 80px;
	padding-bottom: 70px;
}

.latest__btn {
	text-align: right;
}

.latest__item {
	-webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
	padding: 30px;
	margin-bottom: 30px;
}

.latest__item:hover {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.latest__item:hover h5 a {
	text-decoration: underline;
}

.latest__item h5 {
	margin-bottom: 10px;
}

.latest__item h5 a {
	color: #111111;
	font-weight: 600;
	line-height: 24px;
}

.latest__item ul li {
	list-style: none;
	display: inline-block;
	font-size: 13px;
	margin-right: 22px;
	color: #888888;
	position: relative;
	font-weight: 300;
}

.latest__item ul li:after {
	position: absolute;
	right: -16px;
	top: 12px;
	height: 5px;
	width: 5px;
	background: #888888;
	border-radius: 50%;
	content: "";
}

.latest__item ul li img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

.latest__item ul li:last-child {
	margin-right: 0;
}

.latest__item ul li:last-child:after {
	display: none;
}



/*---------------------
  About
-----------------------*/

.about {
	padding-bottom: 0;
}

.about .container {
	padding-bottom: 100px;
	border-bottom: 1px solid #e1e1e1;
}

.about__video {
	height: 366px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.about__video .play-btn {
	display: inline-block;
	height: 50px;
	width: 50px;
	background: var(--color-primary);
	border-radius: 50%;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}

.about__text {
	padding-left: 20px;
}

.about__text .section-title {
	margin-bottom: 25px;
}

.about__text p {
	margin-bottom: 25px;
}

.about__text ul {
	margin-bottom: 25px;
}

.about__text ul li {
	list-style: none;
	font-size: 15px;
	color: #666666;
	line-height: 36px;
}

.about__text ul li i {
	color: var(--color-primary);
	font-size: 15px;
	margin-right: 6px;
}

/*---------------------
  Testimonials
-----------------------*/

.testimonials {
	overflow: hidden;
	background: #f2f7f8;
	padding-bottom: 90px;
}

.testimonials .section-title {
	margin-bottom: 15px;
}

.testimonial__item {
	background: #ffffff;
	-webkit-box-shadow: 0px 5px 20px rgba(0, 61, 85, 0.1);
	box-shadow: 0px 5px 20px rgba(0, 61, 85, 0.1);
	border-radius: 10px;
	position: relative;
	padding: 40px 40px 30px 40px;
}

.testimonial__item .rating {
	position: absolute;
	right: 40px;
	top: 52px;
}

.testimonial__item .rating i {
	font-size: 13px;
	color: #e4c870;
}

.testimonial__item p {
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 0;
}

.testimonial__author {
	overflow: hidden;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 20px;
}

.testimonial__author__icon {
	height: 50px;
	width: 50px;
	background: var(--color-primary);
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}

.testimonial__author__text {
	overflow: hidden;
	padding-top: 4px;
}

.testimonial__author__text h5 {
	color: #111111;
	font-weight: 600;
}

.testimonial__author__text span {
	font-size: 13px;
	color: #888888;
}

.testimonial__slider .col-lg-6 {
	max-width: 100%;
}

.testimonial__slider.owl-carousel .owl-stage-outer {
	padding-top: 30px;
	padding-bottom: 40px;
	overflow: visible;
}

.testimonial__slider .owl-dots {
	text-align: center;
}

.testimonial__slider .owl-dots button {
	height: 10px;
	width: 10px;
	background: #d2d2d2;
	border-radius: 50%;
	margin-right: 6px;
}

.testimonial__slider .owl-dots button.active {
	background: #9c9c9c;
}

.testimonial__slider .owl-dots button:last-child {
	margin-right: 0;
}

/*---------------------
  Services
-----------------------*/

.services__title h4 {
	color: #111111;
	font-weight: 600;
	margin-bottom: 25px;
}

.services__title h4 img {
	margin-right: 5px;
}

.services__accordion {
	margin-bottom: 60px;
}

.services__accordion .accordion {
	border: 1px solid #eaf4f6;
	border-radius: 10px;
	padding-bottom: 15px;
}

.services__accordion .card {
	border: none;
}

.services__accordion .card:last-child .card-body {
	padding-bottom: 0;
	margin-bottom: 0;
}

.services__accordion .card:last-child .card-body ul {
	border-bottom: none;
	padding-bottom: 0;
}

.services__accordion .card-heading {
	padding: 10px 30px;
	margin-bottom: -6px;
	cursor: pointer;
	background: transparent;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.services__accordion .card-heading.active {
	background: #f2f7f8;
}

.services__accordion .card-heading.active a {
	color: #111111;
	display: block;
}

.services__accordion .card-heading a {
	color: #666666;
	font-size: 15px;
}

.services__accordion .card-body {
	padding: 0 30px;
	margin-bottom: 12px;
}

.services__accordion .card-body ul {
	border-bottom: 1px solid #e1e1e1;
	padding: 24px 0 18px;
}

.services__accordion .card-body ul li {
	list-style: none;
}

.services__accordion .card-body ul li a {
	font-size: 15px;
	color: #666666;
	line-height: 32px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.services__accordion .card-body ul li a:hover {
	color: var(--color-primary);
}

.services__accordion .card-heading a:after,
.services__accordion .card-heading>a.active[aria-expanded=false]:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 15px;
	color: #111111;
	position: absolute;
	right: 28px;
	top: 11px;
}

.services__accordion .card-heading.active a:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 15px;
	color: #111111;
	position: absolute;
	right: 28px;
	top: 8px;
}

.services__accordion .card-heading a[aria-expanded=true]:after,
.services__accordion .card-heading>a.active:after {
	content: "";
	font-family: "FontAwesome";
	font-size: 15px;
	font-weight: 400;
	color: #111111;
	position: absolute;
	right: 28px;
	top: 11px;
}

.services__appoinment form input {
	font-size: 15px;
	color: #666666;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	margin-bottom: 20px;
}

.services__appoinment form input::-webkit-input-placeholder {
	color: #666666;
}

.services__appoinment form input::-moz-placeholder {
	color: #666666;
}

.services__appoinment form input:-ms-input-placeholder {
	color: #666666;
}

.services__appoinment form input::-ms-input-placeholder {
	color: #666666;
}

.services__appoinment form input::placeholder {
	color: #666666;
}

.services__appoinment form input:focus {
	border-color: #9d9d9d;
}

.services__appoinment form .datepicker__item {
	position: relative;
}

.services__appoinment form .datepicker__item i {
	position: absolute;
	right: 20px;
	top: 18px;
	font-size: 15px;
	color: #666666;
}

.services__appoinment form .nice-select {
	float: none;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.services__appoinment form .nice-select:after {
	border-bottom: 1.5px solid #666666;
	border-right: 1.5px solid #666666;
	height: 8px;
	right: 20px;
	top: 46%;
	width: 8px;
}

.services__appoinment form .nice-select span {
	font-size: 15px;
	color: #666666;
}

.services__appoinment form .nice-select.active,
.services__appoinment form .nice-select.open,
.services__appoinment form .nice-select:focus {
	border-color: #666666;
}

.services__appoinment form .nice-select .list {
	width: 100%;
	margin-top: 0;
	border-radius: 5px;
}

.services__appoinment form button {
	width: 100%;
}

.services__details {
	padding-left: 30px;
}

.services__details__title span {
	font-size: 15px;
	color: var(--color-primary);
}

.services__details__title h3 {
	color: #111111;
	font-weight: 600;
	margin-top: 5px;
}

.services__details__widget {
	text-align: right;
}

.services__details__widget .rating i {
	font-size: 13px;
	color: #e4c870;
}

.services__details__widget h3 {
	color: var(--color-primary);
	font-weight: 600;
	margin-top: 10px;
}

.services__details__pic {
	margin-top: 35px;
	margin-bottom: 35px;
}

.services__details__pic img {
	min-width: 100%;
}

.services__details__text {
	margin-bottom: 40px;
}

.services__details__text p {
	margin-bottom: 25px;
}

.services__details__text p:last-child {
	margin-bottom: 0;
}

.services__details__item__pic {
	margin-left: -7.5px;
	margin-right: -7.5px;
	margin-bottom: 15px;
}

.services__details__item__pic img {
	min-width: 100%;
}

.services__details__desc {
	margin-top: 12px;
}

.services__details__desc p:last-child {
	margin-bottom: 0;
}

.services__details__feature {
	margin-bottom: 25px;
}

.services__details__feature li {
	list-style: none;
	font-size: 15px;
	color: #666666;
	line-height: 36px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.services__details__feature li i {
	color: var(--color-primary);
	font-size: 15px;
	margin-right: 6px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}






/*---------------------
  Contact
-----------------------*/

.contact__widget {
	margin-bottom: 30px;
}


.contact__widget__text {
	overflow: hidden;
	padding-top: 8px;
}

.contact__widget__text h5 {
	font-size: 20px;
	font-weight: 600;
	color: #111111;
	margin-bottom: 5px;
}

.contact__widget__text p,.contact__widget__text p a {
	font-weight: 300;
	margin-bottom: 0;
	color:#666666;
}

.contact__content {
	padding-top: 70px;
}

.contact__pic img {
	min-width: 100%;
	-webkit-box-shadow: 0px 3px 15px rgba(0, 61, 85, 0.1);
	box-shadow: 0px 3px 15px rgba(0, 61, 85, 0.1);
}

.contact__form h3 {
	color: #111111;
	font-weight: 600;
	margin-bottom: 35px;
}

.contact__form form .input {
	width: 100%;
	height: 50px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding-left: 20px;
	font-size: 15px;
	color: #666666;
	margin-bottom: 20px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.contact__form form input::-webkit-input-placeholder {
	color: #666666;
}

.contact__form form input::-moz-placeholder {
	color: #666666;
}

.contact__form form input:-ms-input-placeholder {
	color: #666666;
}

.contact__form form input::-ms-input-placeholder {
	color: #666666;
}

.contact__form form input::placeholder {
	color: #666666;
}

.contact__form form input:focus {
	border-color: #9d9d9d;
}

.contact__form form textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding-left: 20px;
	font-size: 15px;
	color: #666666;
	padding-top: 12px;
	resize: none;
	margin-bottom: 14px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.contact__form form textarea::-webkit-input-placeholder {
	color: #666666;
}

.contact__form form textarea::-moz-placeholder {
	color: #666666;
}

.contact__form form textarea:-ms-input-placeholder {
	color: #666666;
}

.contact__form form textarea::-ms-input-placeholder {
	color: #666666;
}

.contact__form form textarea::placeholder {
	color: #666666;
}

.contact__form form textarea:focus {
	border-color: #9d9d9d;
}

.contact__form form button {
	width: 100%;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header__menu {
		margin-right: 25px;
	}
	.header__menu ul li {
		margin-right: 25px;
	}
	.header__top__left li {
		margin-right: 10px;
	}
	.consultation__form {
		padding: 40px 25px;
	}
	.footer__newslatter form button {
		padding: 14px 15px 12px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.canvas__open {
		display: block;
		font-size: 22px;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 35px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 35px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 9999997;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -300px;
		width: 300px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 9999999;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.slicknav_arrow i {
		font-size: 17px;
		position: relative;
		top: 2px;
	}
	.offcanvas__logo {
		margin-bottom: 25px;
	}
	.offcanvas__btn {
		margin-bottom: 30px;
	}
	.offcanvas__widget {
		margin-bottom: 30px;
	}
	.offcanvas__widget li {
		font-size: 15px;
		color: #111111;
		list-style: none;
		line-height: 30px;
	}
	
	
	.offcanvas__social a {
		font-size: 16px;
		color: #111111;
		display: inline-block;
		margin-right: 20px;
	}
	.offcanvas__social a:last-child {
		margin-right: 0;
	}
	.header__top {
		/* display: none; */
	}
	.header__menu__option {
		display: none;
	}
	.header__right {
		display: none;
	}
	.header .container {
		position: relative;
	}
	.header__btn {
		display: none;
	}
	.consultation__text__item {
		margin-bottom: 40px;
	}
	.footer__logo {
		margin-bottom: 30px;
	}
	.footer__newslatter {
		margin-bottom: 30px;
	}
	.footer__social {
		text-align: center;
	}
	.footer__copyright__text p {
		margin-bottom: 10px;
		text-align: center;
	}
	.footer__copyright ul {
		text-align: center;
	}
	.services__item {
		padding: 35px 30px 35px 30px;
	}
	.testimonial__item .rating {
		position: relative;
		right: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.services__sidebar {
		padding-top: 50px;
	}
	.services__details {
		padding-left: 0;
	}
	.doctor__item__text {
		text-align: center;
		padding-top: 40px;
	}
	.doctor__item__text.doctor__item__text--left {
		text-align: center;
	}
	.blog__details__social {
		position: relative;
		left: 0;
		margin-bottom: 30px;
	}
	.blog__details__social a {
		display: inline-block;
		margin-right: 6px;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.canvas__open {
		display: block;
		color: #222;
		height: 35px;
		width: 35px;
		line-height: 31px;
		text-align: center;
		border: 1px solid #323232;
		border-radius: 2px;
		cursor: pointer;
		position: absolute;
		right: 10%;
		top: 35px;
	}
	.offcanvas-menu-overlay {
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		content: "";
		z-index: 9999997;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		visibility: hidden;
	}
	.offcanvas-menu-overlay.active {
		visibility: visible;
	}
	.offcanvas-menu-wrapper {
		position: fixed;
		left: -280px;
		width: 280px;
		height: 100%;
		background: #ffffff;
		padding: 50px 20px 30px 30px;
		display: block;
		z-index: 9999999;
		overflow-y: auto;
		-webkit-transition: all, 0.5s;
		-o-transition: all, 0.5s;
		transition: all, 0.5s;
		opacity: 0;
	}
	.offcanvas-menu-wrapper.active {
		opacity: 1;
		left: 0;
	}
	.offcanvas__menu {
		display: none;
	}
	.slicknav_btn {
		display: none;
	}
	.slicknav_menu {
		background: transparent;
		padding: 0;
		margin-bottom: 20px;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 7px 0;
		margin: 0;
		color: #111111;
		font-weight: 600;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
		background: transparent;
		color: #111111;
	}
	.slicknav_nav {
		display: block !important;
	}
	.slicknav_arrow i {
		font-size: 17px;
		position: relative;
		top: 2px;
	}
	.offcanvas__logo {
		margin-bottom: 25px;
	}
	.offcanvas__btn {
		margin-bottom: 30px;
	}
	.offcanvas__widget {
		margin-bottom: 30px;
	}
	.offcanvas__widget li {
		font-size: 15px;
		color: #111111;
		list-style: none;
		line-height: 30px;
	}
	.offcanvas__widget li i {
		color: var(--color-primary);
		font-size: 15px;
		margin-right: 5px;
	}
	.offcanvas__social a {
		font-size: 16px;
		color: #111111;
		display: inline-block;
		margin-right: 20px;
	}
	.offcanvas__social a:last-child {
		margin-right: 0;
	}
	.header__top {
		/*display: none;*/
	}
	.header__menu__option {
		display: none;
	}
	.header__right {
		display: none;
	}
	.header .container {
		position: relative;
	}
	.header__btn {
		display: none;
	}
	.consultation__text__item {
		margin-bottom: 40px;
	}
	.footer__logo {
		margin-bottom: 30px;
		text-align: center;
	}
	.footer__newslatter {
		margin-bottom: 30px;
	}
	.footer__social {
		text-align: center;
	}
	.footer__copyright__text p {
		margin-bottom: 10px;
		text-align: center;
	}
	.footer__copyright ul {
		text-align: center;
	}
	.about__video {
		margin-bottom: 30px;
	}
	.services__sidebar {
		padding-top: 50px;
	}
	.services__details {
		padding-left: 0;
	}
	.doctor__item__text {
		text-align: center;
		padding-top: 40px;
	}
	.doctor__item__text.doctor__item__text--left {
		text-align: center;
	}
	.services__btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.latest__btn {
		text-align: left;
		margin-bottom: 30px;
	}
	.services__details__widget {
		text-align: left;
		margin-top: 20px;
	}
	.contact__pic {
		margin-bottom: 40px;
	}
	.team__item img {
		height: auto;
		width: auto;
	}
	.doctor__item__pic img {
		height: auto;
		width: auto;
	}
	.gallery__container .gc__item {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.grid-sizer {
		width: 100%;
	}
	.gallery__container {
		margin-right: 0;
	}
	.blog__details__social {
		position: relative;
		left: 0;
		margin-bottom: 30px;
	}
	.blog__details__social a {
		display: inline-block;
		margin-right: 6px;
	}
}

/* Small Device = 320px */
@media only screen and (max-width: 479px) {
	.section-title h2 {
		font-size: 24px;
	}
}
@media only screen and (max-width: 350px) {
	.section-title h2 {
		font-size: 18px;
	}
}
@media only screen and (max-width: 479px) {
	.hero__text h2 {
		font-size: 34px;
		line-height: 46px;
	}
	.consultation__form .section-title h2 {
		font-size: 24px;
	}
	.consultation__form {
		padding: 40px 25px;
	}
	.services__item {
		padding: 45px 25px 45px;
	}
	.services__item__icon {
		float: none;
		margin-bottom: 25px;
	}
	.footer__newslatter form button {
		padding: 14px 15px 12px;
	}
	.testimonial__item .rating {
		position: relative;
		right: 0;
		top: 0;
		margin-bottom: 15px;
	}
	.blog__details__tag a {
		margin-bottom: 10px;
	}
	.blog__details__btn__item.blog__details__btn__prev {
		margin-top: 35px;
	}
	.footer__newslatter form {
		text-align: center;
	}
	.footer__newslatter form input {
		margin-bottom: 15px;
		padding-right: 20px;
	}
	.footer__newslatter form button {
		position: relative;
		border-radius: 50px;
		padding: 14px 30px 12px;
	}
}

.services__item__icon {
  position: relative;
  width: 64px;
  height: 64px;
  display: inline-block;
}

.services__item__icon img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.services__item:hover .services__item__icon img.color {
  opacity: 0;
}

.services__item__icon img.blanco {
  opacity: 0;
}

.services__item:hover .services__item__icon img.blanco {
  opacity: 1;
}

.services__item__icon svg path, .services__item__icon svg g {
	fill: var(--color-primary);
	-webkit-transition: all, 0.2s;
	-o-transition: all, 0.2s;
	transition: all, 0.2s;
}
  
/* Cambia el color a rosa cuando se haga hover sobre el SVG */
.services__item:hover .services__item__icon svg path, .services__item:hover .services__item__icon svg g {
	fill: #fff;
}

/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/
.icon-boxes {
  padding-top: 0;
  position: relative;
  z-index: 100;
}

.icon-boxes .icon-box {
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.icon-boxes .icon {
  margin: 0 auto 20px auto;
  display: inline-block;
  text-align: center;
}

.icon-boxes .icon i {
  font-size: 36px;
  line-height: 1;
  color: #ff1e5d;
}
.icon-boxes .icon svg path {
	fill: #ff1e5d;
}
.icon-boxes .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.icon-boxes .title a {
  color: var(--color-primary);
}

.icon-boxes .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #777777;
}
.icon-boxes .description a {
  color: #d763a3;
}

/*Tooltip*/

[class^=tooltip] {
  position: relative;
}
[class^=tooltip]:after {
  opacity: 0;
  position: absolute;
  content: attr(data-tooltip);
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  top: 1.4em;
  left: 50%;
  transform: translateX(-50%) translateY(-2px);
  background: white;
  color: #26264b;
  white-space: nowrap;
  z-index: 2;
  border-radius: 8px;
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
[class^=tooltip]:hover:after {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.tooltip--left:after {
  top: -4px;
  left: 0;
  transform: translateX(-112%) translateY(0);
}
.tooltip--left:hover:after {
  transform: translateX(-110%) translateY(0);
}

.alinearcentro {
	align-items:center;
}

@media (min-width: 992px) {
	.publicenter {
		left: calc(50% - 260px);
		flex: 0 0 50% !important;
		max-width: 50% !important;
	}
}


/*-----------------------------------
recaptcha v3 a la izquierda
------------------------------------*/
.grecaptcha-badge {
	width: 70px !important;
	overflow: hidden !important;
	transition: all 0.3s ease !important;
	left: 4px !important;
	z-index:100;
}

.grecaptcha-badge:hover {
	width: 256px !important;
}

.modal-body {
    overflow-y: auto;
    max-height: 560px;
}