---
import Layout from '@/layouts/Layout.astro';
import FranchiseHero from '@/components/franchise/FranchiseHero.astro';
import Pricing from '@/components/franchise/Pricing.astro';
import FranchiseForm from '@/components/franchise/FranchiseForm.jsx';
import FranchiseFeatures from '@/components/franchise/FranchiseFeatures.astro';
import OurParteners from '@/components/franchise/OurPartners.astro';
import Supplies from '@/components/franchise/Supplies.astro';
import Gallery from '@/components/franchise/Gallery.astro';
import Tips from '@/components/Tips.astro';
import { secretKey } from '@/services/enviroment.js';
---
<Layout
	title="Más Bella - Franquicias"
	canonical="https://masbellamedical.com/franquicias"
	metaTitle="Más Bella - Franquicias"
	metaDescription="Te facilitamos todo para que puedas abrir tu propia franquicia de estética, garantizando que cada establecimiento cuente con todos los materiales e insumos necesarios"
	metaImg="https://masbellamedical.com/franquicias/img/centro/7.jpg"
>
    <FranchiseHero
		background="img/centro/7.jpg"
	/>
	<FranchiseFeatures />
	<Pricing />
	<FranchiseForm client:load />
	<OurParteners />
	<Supplies />
	<div class="container margenes mx-auto">
        <div class="section-title text-center">
            <h2 class="text-primary-100">Rompe con la tradicional forma de trabajo de otras franquicias!</h2>
        </div>
    </div>
	<Gallery />
	<Tips
        title="Camino hacia la excelencia"
        subTitle1="Construyendo relaciones duraderas"
        description1="Trabajamos con nuestros clientes sesión a sesión"
        subTitle2="Comprometidos con el éxito de nuestros clientes"
        description2="Los fidelizamos con nuestros esfuerzos y resultados"
        subTitle3="Calidad y asequibilidad en cada sesión"
        description3="Ofertamos un servicio excelente a buen precio"
    />
</Layout>
<!-- recaptcha v3 -->
<script async src={'https://www.google.com/recaptcha/api.js?render=' + secretKey} ></script>