---
import Layout from '@/layouts/Layout.astro';
import BreadCrumbs from '@/components/BreadCrumbs.astro';
import { 
    addressLegal,
	telphoneReadble,
	whatsappReadble,
} from '@/services/enviroment.js';
---
<Layout 
	title="Más Bella - Política de privacidad"
	canonical="https://masbellamedical.com/politica-privacidad"
	metaTitle="Más Bella - Política de privacidads"
	metaDescription="Nuestra Política de privacidad describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios. En esta página, encontrarás información detallada sobre cómo manejamos tus datos personales, tus derechos de privacidad."
	metaImg="https://masbellamedical.com/img/logo-web.png"
>
    <BreadCrumbs title="Política de privacidad" />
    <section class="contact spad">
		<div class="container">
				<p style="text-align: justify;line-height: 150%; margin-bottom: 0in"><span style="display: inline-block; border: none; padding: 0in"><font size="3" style="font-size: 12pt"><font >En
				MÓNICA GÓMEZ VITALI (en adelante MÁS BELLA MEDICAL) nos
				preocupamos por la privacidad y la transparencia.</span></font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-bottom: 0in"><span style="display: inline-block; border: none; padding: 0in"><font size="3" style="font-size: 12pt"><font >A
				continuación, le indicamos en detalle los tratamientos de datos
				personales que realizamos, así como toda la información relativa a
				los mismos.</span></font></font></p>
				<p style="text-align: center;line-height: 150%; margin-bottom: 0in"><br/>

				</p>
				<h2 style="text-align: center;line-height: 150%; margin-bottom: 0in"><span style="display: inline-block; border: none; padding: 0in"><font size="4" style="font-size: 14pt"><font >PROTECCION
				DE DATOS PERSONALES - PRIVACIDAD</span></font></font></h2>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in"><font ><font size="3" style="font-size: 12pt">El
				prestador se encuentra profundamente comprometido con el cumplimiento
				de la normativa en protección de datos de carácter personal, y
				garantiza el cumplimiento íntegro de las obligaciones dispuestas,
				así como la implementación de las medidas de seguridad técnicas y
				organizativas, según lo establecido en el Reglamento General de
				Protección de Datos de Europa UE 2016/679 (RGPD) y en la Ley 3/2018
				de Protección de Datos y Garantía de los Derechos Digitales
				(LOPD-GDD)</font></font></p>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in"><font ><font size="3" style="font-size: 12pt">El
				prestador pone a disposición de los usuarios la Política de
				Privacidad de la entidad informando a los usuarios respecto a los
				siguientes aspectos:&nbsp;</font></font></p>
				<ol>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0in">
					<font ><font size="3" style="font-size: 12pt">Datos
					del Responsable del tratamiento.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0in">
					<font ><font size="3" style="font-size: 12pt">Finalidad.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0in">
					<font ><font size="3" style="font-size: 12pt">Legitimación.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0in">
					<font ><font size="3" style="font-size: 12pt">Destinatarios.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0in">
					<font ><font size="3" style="font-size: 12pt">Procedencia.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font size="3" style="font-size: 12pt">Información
					adicional.</font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0in"><font ><font size="3" style="font-size: 12pt">Cuando
				precisemos obtener información personal por su parte, siempre se
				solicita que nos la proporcione de manera voluntariamente y de forma
				expresa.</font></font></p>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0in"><font ><font size="3" style="font-size: 12pt">En
				cumplimiento la normativa en Protección de Datos de Carácter
				Personal, consiente expresamente mediante las diferentes casillas
				Ckeck de consentimientos, a que los datos personales facilitados,
				sean tratados bajo nuestra responsabilidad, para realizar las
				siguientes finalidades:</font></font></p>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0in"><br/>

				</p>
				<ol>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font size="3" style="font-size: 12pt">Gestionar
					nuestra relación y ofrecerle el servicio solicitado personalizado.</font></font></p>
				</ol>
				<ol start="2">
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font size="3" style="font-size: 12pt">La
					tramitación de consultas, asesoramiento, encargos, solicitudes o
					cualquier tipo de petición que sea realizada por el usuario a
					través de cualquiera de las formas de contacto que se ponen a
					disposición del usuario en el sitio web de </font></font><font ><font size="3" style="font-size: 12pt">MÁS
					BELLA MEDICAL</font></font><font ><font size="3" style="font-size: 12pt">.</font></font></p>
				</ol>
				<ol start="3">
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font size="3" style="font-size: 12pt">Remisión
					de comunicaciones comerciales publicitarias sobre nuestros productos
					por e-mail, fax, SMS, MMS, redes sociales de comunicación o
					cualesquier otro medio electrónico o físico, presente o futuro,
					que posibilite realizar comunicaciones comerciales.</font></font></p>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font size="3" style="font-size: 12pt">La
					recogida de Currículums Vitae para los procesos de selección de
					personal de nuestra organización.</font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; margin-bottom: 0in"><font ><font size="3" style="font-size: 12pt">Todos
				los datos solicitados son obligatorios, de no facilitarlos, sería
				imposible llevar a cabo la finalidad para la que se solicitan en cada
				caso.</font></font></p>
				<h2 style="text-align: center;line-height: 115%; margin-bottom: 0.17in"><font ><font size="4" style="font-size: 14pt">INFORMACIÓN
				DEL TRATAMIENTO</font></font></h2>
				<p style="text-align: justify;line-height: 150%; margin-bottom: 0.17in"><font ><font size="3" style="font-size: 12pt">Según
				lo dispuesto en el Reglamento General de Protección de Datos UE
				2016/679, y en la Ley Orgánica 3/2018 de Protección de Datos y
				Garantías de los Derechos Digitales, el usuario debe recibir
				información puntual y concreta del responsable&nbsp;del tratamiento
				y los usos y fines del mismo. Para ello, se indica la siguiente
				información:</font></font></p>
				<ol>
					<li><p style="text-align: justify;line-height: 115%; margin-bottom: 0.17in">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Quién
					es el responsable del tratamiento de sus datos?</b></font></font></font></p>
					<p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
				<font ><font size="3" style="font-size: 12pt">MÓNICA
				GÓMEZ VITALI (MÁS BELLA MEDICAL).</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
				<font ><font size="3" style="font-size: 12pt">53742778N.</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
				<font ><font size="3" style="font-size: 12pt">{addressLegal}.</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
				<font ><font size="3" style="font-size: 12pt"><span lang="es-ES-u-co-trad">(+34)
				</span>{telphoneReadble} / {whatsappReadble}.</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
				<font ><font size="3" style="font-size: 12pt"><a href="mailto:info@masbellamedical.com" target="_blank"><font ><u>info@masbellamedical.com</u></font></a>
					  <font > </font></font></font>
				</p>
					</li>
				</ol>
				
					<ol style="margin-left: 50px;">
						<li><p style="line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
						<font ><font size="3" style="font-size: 13pt"><b>Datos
						de contacto del Delegado de Protección de Datos (DPD):</b></font></font></p>
						<p style="text-align: justify;line-height: 150%; margin-left: 0.25in; margin-top: 0.12in; margin-bottom: 0.12in">
				 <font ><font size="3" style="font-size: 12pt">Consultoría y Servicios Sapientiam et Laborem, s.l.
				</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-left: 0.25in; margin-top: 0.12in; margin-bottom: 0.12in">
				 <font ><font size="3" style="font-size: 12pt">
					Telf: 91 818 15 31<br/>
					Mvl: 600 356 894</font></font></p>
				<p style="text-align: justify;line-height: 150%; margin-left: 0.25in; margin-top: 0.12in; margin-bottom: 0.12in">
				 <font ><font size="3" style="font-size: 12pt"><a href="mailto:info@GrupoSapientiam.com"><font><u>info@GrupoSapientiam.com</u></font></a>
				 </font></font>
				</p>
						</li>
					</ol>
				<br/>
				<ol start="2">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Con
					qué finalidad tratamos sus datos personales?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">En
				</font></font></font><font ><font ><font size="3" style="font-size: 12pt">MÁS
				BELLA MEDICAL</font></font></font><font ><font ><font size="3" style="font-size: 12pt">
				tratamos la información que nos facilitan las personas interesadas
				con el fin de realizar las siguientes finalidades:</font></font></font></p>
				<ol style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE CLIENTES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Realizar la gestión administrativa, contable y fiscal de los
					servicios solicitados, así como enviar comunicaciones comerciales
					sobre nuestros productos y servicios.</font></font></font></p>
				</ol>
				<ol start="2" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE USUARIOS DE LÁSER Y ESTÉTICA AVANZADA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión de sus datos necesarios de su salud para la correcta
					prestación de servicios en tratamientos solicitados en depilación
					láser diodo y estética avanzada; el envío de mensajes para
					recordatorios de citas y de información que entendamos sea de su
					interés sobre nuestros servicios médicos estéticos o campañas de
					prevención.</font></font></font></p>
				</ol>
				<ol start="3" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PACIENTES DE MEDICINA ESTÉTICA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión del historial clínico del paciente en la asistencia
					sanitaria y/o la correcta prestación de servicios médico estético;
					el envío de mensajes para recordatorios de citas y de información
					que entendamos sea de su interés sobre nuestros servicios médicos
					estéticos o campañas de prevención, dejando constancia de todos
					aquellos datos que, bajo criterio médico, permitan el conocimiento
					veraz y actualizado del estado de salud.</font></font></font></p>
				</ol>
				<ol start="4" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PROVEEDORES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					La gestión administrativa, contable y fiscal de los servicios
					contratados, así como de las personas de contacto.</font></font></font></p>
				</ol>
				<ol start="5" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE SELECCIÓN DE PERSONAL</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestionar los Currículum Vitae recibidos y realizar los procesos de
					selección de personal, entrevistas y demás trámites necesarios
					para la búsqueda del mejor candidato posible a un puesto de trabajo
					determinado.</font></font></font></p>
				</ol>
				<ol start="6" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE IMÁGENES CON FINES PROMOCIONALES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					</font></font></font><font ><font ><font size="3" style="font-size: 12pt">Gestionar
					su imagen personal y/o la de su hijo/a en formato gráfico y vídeo
					gráfico, en relación a su evolución tras los tratamientos
					recibidos, para su difusión, como caso de éxito, en nuestra web,
					redes sociales de nuestra titularidad y congresos.</font></font></font></p>
				</ol>
				<ol start="7" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE LOS DATOS DE LAS PARTES IMPLICADAS EN EL P`ROTOCOLO PARA LA
					PREVENCIÓN DEL ACOSO SEXUAL O POR RAZONES DE SEXO</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión del protocolo para la prevención del acoso sexual o por
					razón de sexo; regulación del procedimiento, gestión de la
					denuncia, recogida de datos personales y entrevistas con las partes
					afectadas.</font></font></font></p>
				</ol>
				<ol start="8" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE VIDEOVIGILANCIA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Garantizar la seguridad de las personas, bienes e instalaciones.</font></font></font></p>
				</ol>
				<ol start="9" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE DATOS PARA EL EJERCICIO DE LOS DERECHOS DE LOS INTERESADOS</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestionar y atender las solicitudes de los interesados en el
					ejercicio de los derechos establecidos en la normativa de protección
					de datos</font></font></font></p>
				</ol>
				<ol start="10" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE NEWSLETTER</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Realizar el envío de nuestra newsletter y otras comunicaciones
					promocionales de interés para los suscriptores a la misma.</font></font></font></p>
				</ol>
				<ol start="11" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE CONTACTO</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Sobre los formularios de contacto de nuestra Web, atender su
					solicitud y enviarle comunicaciones comerciales, inclusive por vía
					electrón.</font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-left: 0.05in; margin-bottom: 0.14in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">En
				el caso de que no facilite sus datos personales, no podremos cumplir
				con las funcionalidades descritas anteriormente.</font></font></font></p>
				<br/>
				<ol start="3">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Por
					cuánto tiempo conservaremos sus datos?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font><font size="3" style="font-size: 12pt">Los
				datos se conservarán:</font></font></font></p>
				<ol style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.11in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Mientras
					se mantenga la relación contractual o durante los años necesarios
					para cumplir con las obligaciones legales.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.11in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Sobre
					los datos en relación a los servicios medios estéticos, los datos
					se conservarán, como mínimo cinco años, según consta en la
					normativa estatal Ley 41/2002, de 14 de noviembre, básica
					reguladora de la autonomía del paciente y de derechos y
					obligaciones en materia de información y documentación clínica y
					en la Ley 7/2011, de 3 de noviembre, de Documentos, Archivos y
					Patrimonio Documental de Andalucía.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.11in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">En
					lo referente a la utilización de su imagen personal en nuestras
					campañas de promoción y divulgación en nuestra web y espacios de
					redes sociales de nuestros productos y servicios, </font></font></font><font ><font ><font size="3" style="font-size: 12pt">los
					datos se suprimirán cuando el afectado así lo solicite.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">En
					lo relativo a los datos obtenidos a través de los formularios de
					contacto y newsletter, mientras no solicite la supresión de sus
					datos.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Sobre
					la gestión de los Currículums Vitae, dos años desde la última
					interacción.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">En
					lo relacionado con videovigilancia, los datos se conservarán un
					máximo de 30 días, salvo comunicación a Fuerzas y Cuerpos de
					Seguridad, y/o Juzgados y Tribunales.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">En
					lo relativo al protocolo de prevención sobre el acoso sexual, los
					datos se suprimirán a los dos años, salvo que sea necesaria su
					conservación para determinar las posibles responsabilidades que se
					pudieran derivar ante las posibles reclamaciones efectuadas por los
					afectados.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Sobre
					la conservación del ejercicio de los derechos de los interesados,
					Se conservarán durante el tiempo necesario para resolver las
					solicitudes y al menos durante tres años para atender posibles
					reclamaciones.</font></font></font></p>
				</ol>
				<br/>
				<ol start="4">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Cuál
					es la legitimación para el tratamiento de sus datos?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Le
				indicamos la base legal para el tratamiento de sus datos:</font></font></font></p>
				<ol>
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE USUARIOS DE LÁSER Y ESTÉTICA AVANZADA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Prestación de los servicios solicitados (RGPD art. 6.1.b).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Consentimiento
					del interesado</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión de los datos de salud en la prestación de los servicios
					solicitados en depilación láser diodo y tratamientos en estética
					avanzada. (RGPD art. 6.1.a).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Interés
					legítimo del Responsable</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					La utilización de la red social WhatsApp de mensajería instantánea
					como medio de comunicación y de recordatorios de citas, así como a
					través de mensajes de SMS. (RGPD art. 61.1b). El envío de
					comunicaciones informativas que entendamos sean de su interés,
					incluso por vía electrónica. (RGPD Considerando 47, LSSICE art.
					21.2).</font></font></font></p>
				</ol>
				<ol start="2">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE CLIENTES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					</font></font></font>
					</p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u></font></font><font ><font size="3" style="font-size: 12pt">:
					Realizar la gestión comercial, administrativa, contable y fiscal de
					los servicios solicitados al cliente. (RGPD art. 6.1.b).</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Interés
					legítimo del Responsable</u></font></font><font ><font size="3" style="font-size: 12pt">:
					El envío de comunicaciones comerciales vía electrónica sobre
					nuestros productos y/o servicios. (RGPD considerando 47, LSSICE art.
					21.2).</font></font></p>
				</ol>
				<ol start="3">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PACIENTES DE MEDICINA ESTÉTICA:</b></font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; margin-right: -0.39in; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u>: Prestar los servicios asistenciales solicitados
					por el paciente. (RGPD arts. 6.1.b y 9.2.h).</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-right: -0.39in; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><u>Cumplimiento
					de una obligación legal</u>: En lo referente al contenido, uso y
					conservación de los datos de la historia clínica. (Ley 41/2002, de
					14 de noviembre, básica reguladora de la autonomía del paciente y
					de derechos y obligaciones en materia de información y
					documentación clínica; Ley 7/2011, de 3 de noviembre, de
					Documentos, Archivos y Patrimonio Documental de Andalucía; RGPD
					arts. 6.1.c y 9.2.h).</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-right: -0.39in; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><u>Interés
					legítimo del Responsable</u>: El envío de mensajes de
					recordatorios de citas a través de la aplicación WhatsApp y/o SMS.
					(RGPD art. 6.1.b). El envío de comunicaciones informativas sobre
					nuestros servicios, o de campañas de prevención, incluso por vía
					electrónica. (RGPD Considerando 47; LSSICE art. 21.2).</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-right: -0.39in; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><u>Consentimiento
					del interesado</u>: Realizar la gestión administrativa y custodia
					del historial clínico del paciente sobre los servicios medico
					estético. (RGPD art. 6.1.a).</font></font></p>
				</ol>
				<ol start="4">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PROVEEDORES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					</font></font></font>
					</p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u></font></font><font ><font size="3" style="font-size: 12pt">:
					Realizar la gestión administrativa, contable y fiscal de los
					servicios contratados. (RGPD art. 6.1.b).</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Interés
					legítimo del Responsable</u></font></font><font ><font size="3" style="font-size: 12pt">:
					La utilización de la red social WhatsApp de mensajería instantánea
					como medio de comunicación. (RGPD art. 6.1.b). Gestión de los
					datos de contacto profesionales. (LOPDGDD art.19, RGPD art. 6.1.f).</font></font></p>
				</ol>
				<ol start="5">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE SELECCIÓN DE PERSONAL</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u></font></font><font ><font size="3" style="font-size: 12pt">:
					Gestión de los Currículums Vitae entregados por el candidato para
					realizar los procesos de selección de personal para la búsqueda
					del mejor candidato posible a un puesto de trabajo determinado. 
					(RGPD art. 6.1.b).</font></font></p>
				</ol>
				<ol start="6">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE IMÁGENES CON FINES PROMOCIONALES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Consentimiento
					del interesado</u></font></font><font ><font size="3" style="font-size: 12pt">:
					La gestión de su imagen personal y/o la de su hijo/a en formato
					gráfico y vídeo gráfico, en relación a su evolución tras los
					tratamientos recibidos, para su difusión, como caso de éxito, en
					nuestra web y congresos, cursos o conferencias realizadas por
					nuestra organización y relacionados con su actividad. (RGPD art.
					6.1.a; art. 2 </font></font><font ><font size="3" style="font-size: 12pt">Ley
					Orgánica 1/1982, sobre protección civil del derecho al honor, a la
					intimidad personal y familiar y a la propia imagen</font></font><font ><font size="3" style="font-size: 12pt">).</font></font></p>
				</ol>
				<ol start="7">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE LOS DATOS DE LAS PARTES IMPLICADAS EN EL PROTOCOLO PARA LA
					PREVENCIÓN DEL ACOSO SEXUAL O POR RAZONES DE SEXO</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Cumplimiento
					de una obligación legal</u></font></font><font ><font size="3" style="font-size: 12pt">:
					Ley Orgánica 3/2007, de 22 de marzo, para la igualdad efectiva de
					mujeres y hombres (art. 48); Real Decreto 901/2020, de 13 de
					octubre; Ley 31/1995, de 8 de noviembre, de prevención de riesgos
					laborales (art. 14).</font></font></p>
				</ol>
				<ol start="8">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE VIDEOVIGILANCIA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Misión
					en Interés público</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Tratamiento necesario para el cumplimiento de una misión realizada
					en interés público o en el ejercicio de poderes públicos
					conferidos al responsable del tratamiento (RGPD art. 6.1.e), según
					consta en la &quot;Guía sobre el uso de videocámaras para
					seguridad y otras finalidades&quot;, publicada por la Agencia
					Española de Protección de Datos.</font></font></font></p>
				</ol>
				<ol start="9">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE DATOS PARA EL EJERCICIO DE LOS DERECHOS DE LOS INTERESADOS</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt"><u>Cumplimiento
					de una obligación legal</u></font></font><font ><font size="3" style="font-size: 12pt">:
					gestionar y atender las solicitudes de los interesados en el
					ejercicio de los derechos establecidos en la normativa de protección
					de datos (RGPD, art.6.1.b).</font></font></p>
				</ol>
				<ol start="10">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE NEWSLETTER:</b></font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Consentimiento
					del interesado</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					realizar el envío de nuestra newsletter y otras comunicaciones
					promocionales de interés para los suscriptores a la misma (RGPD,
					art. 6.1.a, y LSSICE art.21).</font></font></font></p>
				</ol>
				<ol start="11">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE CONTACTO</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Ejecución
					de un contrato</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión de potenciales clientes que se han interesado sobre
					nuestros productos y/o servicios. (RGPD, art. 6.1.b, LSSICE art.21).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><u>Interés
					legítimo del Responsable</u></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					Gestión de los datos de contacto profesionales (LOPDGDD art.19,
					RGPD art. 6.1.f).</font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-left: 1in; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
				<br/>

				</p>
				<br/>
				<ol start="5">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿A
					qué destinatarios se comunicarán sus datos?</b></font></font></font></p>
				</ol>
				<p style="line-height: 150%; orphans: 0; widows: 0; margin-left: 0.3in; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Los
				datos se comunicarán a los siguientes destinatarios:</font></font></font></p>
				<p style="line-height: 150%; orphans: 0; widows: 0; margin-left: 0.3in; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
				<br/>

				</p>
				<ol>
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE USUARIOS DE LÁSER Y ESTÉTICA AVANZADA</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%;">
					<font ><font size="3" style="font-size: 12pt">WhatsApp
					Ireland Limited, con la finalidad de la utilización de la
					aplicación de mensajería instantánea como medio de comunicación.
					(requisito contractual)</font></font></p>
				</ol>
				<ol start="2">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE CLIENTES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a"  style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Administración
					Tributaria, con la finalidad de cumplir con las obligaciones legales
					(requisito legal).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Entidades
					bancarias, con la finalidad de girar los recibos correspondientes
					(requisito contractual).</font></font></font></p>
				</ol>
				<ol start="3">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PACIENTES DE MEDICINA ESTÉTICA:</b></font></font></font></p>
				</ol>
				
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font size="3" style="font-size: 12pt">WhatsApp
					Ireland Limited, con la finalidad de la utilización de la
					aplicación como medio de comunicación. (requisito contractual).</font></font></p>
				</ol>
				
				<ol start="4">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE SELECCIÓN DE PERSONAL: </b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">No
					se cederán datos a terceros, salvo obligación legal.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE PROVEEDORES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					</font></font></font>
					</p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Administración
					Tributaria, con la finalidad de cumplir con las obligaciones legales
					(requisito legal).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Entidades
					bancarias, con la finalidad de realizar los pagos correspondientes
					(requisito contractual).</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">WhatsApp
					Ireland Limited, con la finalidad de utilización de la red social
					como medio de comunicación (requisito contractual).</font></font></font></p>
				</ol>
				<ol start="6">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE SELECCIÓN DE PERSONAL</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Franquiciados
					de nuestra marca que soliciten un perfil similar al suyo, con la
					finalidad de incluirle en sus procesos de selección de personal
					(consentimiento del interesado).</font></font></font></p>
				</ol>
				<ol start="7">
					<li><p style="text-align: justify;line-height: 115%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE IMÁGENES CON FINES PROMOCIONALES</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.08in; margin-bottom: 0in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Internet
					(redes sociales, plataformas de video y sitios web), página web de
					la entidad y otros medios de comunicación, con la finalidad de
					cesión y publicación de los datos personales e imágenes y/o vídeo
					del personal laboral con fines promocionales (consentimiento del
					interesado).</font></font></font></p>
				</ol>
				
				<ol start="8">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE LOS DATOS DE LAS PARTES IMPLICADAS EN EL PROTOCOLO PARA LA
					PREVENCIÓN DEL ACOSO SEXUAL O POR RAZONES DE SEXO</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Fuerzas
					y cuerpos de la Seguridad del Estado; Organismos Jurisdiccionales;
					Ministerio Fiscal, con la finalidad de Denunciar la comisión de un
					posible delito (requisito legal).</font></font></font></p>
				</ol>
				<ol start="9">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE VIDEOVIGILANCIA:</b></font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">En
					su caso, las fuerzas y cuerpos de seguridad del Estado, así como
					Juzgados y Tribunales, con la finalidad de aportar las imágenes si
					se ha cometido un delito (requisito legal).</font></font></font></p>
				</ol>
				
				<ol start="10">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>GESTIÓN
					DE DATOS PARA EL EJERCICIO DE LOS DERECHOS DE LOS INTERESADOS</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:</font></font></font></p>
				</ol>
				<ol type="a" style="margin-left: 50px;">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt">Autoridades
					de control, Organismos de la administración pública y Defensor del
					Pueblo, en su caso., con la finalidad de gestionar y atender las
					solicitudes y las posibles reclamaciones (requisito legal).</font></font></font></p>
				</ol>
				<ol start="11">
					<li><p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="3" style="font-size: 12pt"><b>FORMULARIO
					DE CONTACTO Y DE NEWSLETTER</b></font></font></font><font ><font ><font size="3" style="font-size: 12pt">:
					No se cederán datos a terceros, salvo obligación legal.</font></font></font></p>
				</ol>
				
				<br/>
				<ol start="6">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Transferencias
					de datos a terceros países?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Están
				previstas las siguientes transferencias de datos a terceros países
				por la utilización de herramientas de comunicación de mensajería
				instantánea WhatsApp y por la utilización de las redes sociales
				Facebook, Instagram y LikedIn en la publicación de contenidos:</font></font></font></p>
				<ul style="margin-left:50px">
					<li><p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><b>Facebook
					Ireland Limited</b> (Facebook e Instagram), con la finalidad de
					Servicios de plataforma de red social para publicación de
					contenidos de la organización. La garantía para esta transferencia
					se ha establecido a través de: Cláusulas tipo de protección de
					datos. Puede consultar información adicional en: 4 Grand Canal
					Square, Grand Canal Harbour, Dublin 2, Irlanda;
					<font color="#0563c1"><u><a href="https://www.facebook.com/help/contact/540977946302970">https://www.facebook.com/help/contact/540977946302970</a></u></font>;
					<font color="#0563c1"><u><a href="https://es-es.facebook.com/about/privacy/update">https://es-es.facebook.com/about/privacy/update</a></u></font>.</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><b>WhatsApp
					Ireland Limited</b>, con la finalidad de prestación de servicios de
					red social para mensajería instantánea como medio de comunicación.
					La garantía para esta transferencia se ha establecido a través de:
					Cláusulas tipo de protección de datos. Puede consultar información
					adicional en: Política privacidad, 4 Grand Canal Square Grand Canal
					Harbour Dublin 2 Ireland;
					<font color="#0563c1"><u><a href="https://www.whatsapp.com/contact/?subject=privacy&amp;eea=1">https://www.whatsapp.com/contact/?subject=privacy&amp;eea=1</a></u></font>;
					<font color="#0563c1"><u><a href="https://www.whatsapp.com/legal/#privacy-policy">https://www.whatsapp.com/legal/#privacy-policy</a></u></font>.</font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-top: 0.12in; margin-bottom: 0.12in">
					<font ><font size="3" style="font-size: 12pt"><b>LinkedIn
					Ireland Unlimited Company</b>, con la finalidad de Servicios de
					plataforma de red social para publicación de contenidos de la
					organización. La garantía para esta transferencia se ha
					establecido a través de: Cláusulas tipo de protección de datos.
					Puede consultar información adicional en: Legal Dept. (Privacy
					Policy and User Agreement),Wilton, PlazaWilton Place, Dublín 2
					Irlanda;
					<font color="#0563c1"><u><a href="https://www.linkedin.com/help/linkedin/answer/62533?trk=microsites-frontend_legal_privacy-policy&amp;lang=es">https://www.linkedin.com/help/linkedin/answer/62533?trk=microsites-frontend_legal_privacy-policy&amp;lang=es</a></u></font>;
					<font color="#0563c1"><u><a href="https://www.linkedin.com/help/linkedin/ask/PPQ?lang=es">https://www.linkedin.com/help/linkedin/ask/PPQ?lang=es</a></u></font>
					</font></font>
					</p>
				</ul>
				<br/>
				<ol start="7">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Cuáles
					son sus derechos cuando nos facilita sus datos?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Cualquier
				persona tiene derecho a obtener confirmación sobre si en </font></font></font><font ><font ><font size="3" style="font-size: 12pt">MÁS
				BELLA MEDICAL</font></font></font><font ><font ><font size="3" style="font-size: 12pt">
				estamos tratando, o no, datos personales que les conciernan.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Las
				personas interesadas tienen derecho a acceder a sus datos personales,
				así como a solicitar la rectificación de los datos inexactos o, en
				su caso, solicitar su supresión cuando, entre otros motivos, los
				datos ya no sean necesarios para los fines que fueron recogidos.
				Igualmente tiene derecho a la portabilidad de sus datos.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">En
				determinadas circunstancias, los interesados podrán solicitar la
				limitación del tratamiento de sus datos, en cuyo caso únicamente
				los conservaremos para el ejercicio o la defensa de reclamaciones.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">En
				determinadas circunstancias y por motivos relacionados con su
				situación particular, los interesados podrán oponerse al
				tratamiento de sus datos. En este caso, </font></font></font><font ><font ><font size="3" style="font-size: 12pt">MÁS
				BELLA MEDICAL</font></font></font><font ><font ><font size="3" style="font-size: 12pt">
				dejará de tratar los datos, salvo por motivos legítimos imperiosos,
				o el ejercicio o la defensa de posibles reclamaciones.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Podrá
				ejercitar materialmente sus derechos de la siguiente forma:
				dirigiéndose a </font></font></font><a href="mailto:privacidad@masbellamedical.com"><font ><font ><font size="3" style="font-size: 12pt"><u>privacidad@masbellamedical.com</u></font></font></font></a><font ><font ><font size="3" style="font-size: 12pt">
				</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Cuando
				se realice el envío de comunicaciones comerciales utilizando como
				base jurídica el interés legítimo del responsable, el interesado
				podrá oponerse al tratamiento de sus datos con ese fin.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">El
				consentimiento otorgado es para todas las finalidades indicadas cuya
				base legal es el consentimiento del interesado. Tiene derecho a
				retirar dicho consentimiento en cualquier momento, sin que ello
				afecte a la licitud del tratamiento basado en el consentimiento
				previo a su retirada.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">En
				caso de que sienta vulnerados sus derechos en lo concerniente a la
				protección de sus datos personales, especialmente cuando no haya
				obtenido satisfacción en el ejercicio de sus derechos, puede
				presentar una reclamación ante la Autoridad de Control en materia de
				Protección de Datos competente a través de su sitio web:
				www.aepd.es.</font></font></font></p>
				<br/>
				<ol start="8">
					<li><p style="line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
					<font ><font ><font size="4" style="font-size: 14pt"><b>¿Cómo
					hemos obtenido sus datos?</b></font></font></font></p>
				</ol>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Los
				datos personales que tratamos en </font></font></font><font ><font ><font size="3" style="font-size: 12pt">MÁS
				BELLA MEDICAL</font></font></font><font ><font ><font size="3" style="font-size: 12pt">
				proceden del propio interesado o su representante legal.</font></font></font></p>
				<p style="text-align: justify;line-height: 150%; orphans: 0; widows: 0; margin-top: 0.12in; margin-bottom: 0.12in; background: #ffffff">
				<font ><font ><font size="3" style="font-size: 12pt">Las
				categorías de datos que se tratan son: </font></font></font>
				</p>
				<ul style="margin-left:50px">
					<li><p style="text-align: justify;line-height: 150%; margin-bottom: 0.11in">
					<font ><font ><font size="3" style="font-size: 12pt">Datos
					identificativos.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-bottom: 0.11in">
					<font ><font ><font size="3" style="font-size: 12pt">Direcciones
					postales y electrónicas.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-bottom: 0.11in">
					<font ><font ><font size="3" style="font-size: 12pt">Información
					comercial.</font></font></font></p>
					<li><p style="text-align: justify;line-height: 150%; margin-bottom: 0.11in">
					<font ><font ><font size="3" style="font-size: 12pt">Datos
					bancarios.</font></font></font></p>
				</ul>
				<p style="text-align: justify;line-height: 150%; margin-bottom: 0.11in"><font ><font size="3" style="font-size: 12pt">Se
				tratan las siguientes categorías de datos especiales: Relativos a la
				salud.</font></font></p>
		</div>
	</section>
</Layout>
<style>
    @page { 
    size: 8.27in 11.69in;
    margin-left: 1.18in;
    margin-right: 1.18in;
    margin-top: 0.49in;
    margin-bottom: 0.98in 
    }
    @page:first { 
    margin-top: 0.98in; 
    margin-bottom: 0.98in
    }
    ol {
        margin-left:26px;
    }
    p { 
        line-height: 115%;
        text-align: left; 
        orphans: 2; 
        widows: 2;
        margin-bottom: 0.1in;
        direction: ltr; 
        background: transparent
    }
</style>