---
import Layout from '@/layouts/Layout.astro';
import Promo from '@/components/Promo.astro';
import '@/styles/blog.css';
import BreadCrumbs from '@/components/BreadCrumbs.astro';
import Tips from '@/components/Tips.astro';
import BlogItem from '@/components/BlogItem.astro';
---
<Layout 
	title="Más Bella - Servicios"
	canonical="https://masbellamedical.com/servicios"
	metaTitle="Más Bella - Servicios de Belleza y tratamientos Personalizados"
	metaDescription="Descubre la amplia gama de tratamientos faciales y corporales 100% personalizados en Más Bella. Con tecnología de avanzada y especialistas altamente cualificados, encontrarás los resultados que estás buscando."
	metaImg="https://masbellamedical.com/img/servicios/hydrafacial.jpg"
>
    <BreadCrumbs title="Servicios" />
    
    <section class="blog spad">
        <div class="container">
            <Promo />
            <div class="row mt-5">
				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Bellaction Duo</h2>
					</div>
				</div>
                    <BlogItem 
                        title="Bellaction Duo Corporal"
                        img="img/servicios/corporal-bellaction-duo.jpg"
                    >
                    <p>
                        ✅ Elimina celulitis<br/>
                        ✅ Eleva glúteos<br/>
                        ✅ Capaz de reducir hasta 2 tallas<br/>
                        ✅ Masaje fisioactivo<br/>
                        ✅ Reducción Drástica de la flacidez<br/>
                        ✅ Tonificación de la Piel , musculatura y sistema vascular<br/>
                        ✅ Eliminación de líquidos<br/>
                        ✅ Eliminación de contracturas musculares<br/>
                    </p>
                    </BlogItem>
                    <BlogItem 
                        title="Bellaction Duo Facial"
                        img="img/servicios/bellaction-duo-facial.jpg"
                    >
                    <p>
                        ✅ Potente efecto anti envejecimiento<br/>
                        ✅ Efecto Botox con reducción drástica de las arrugas<br/>
                        ✅ Reducción y eliminación de manchas<br/>
                        ✅ Tonificación de todos los tejidos blandos de escote, cuello y cara<br/>
                        ✅ Reducción de “bolsas”<br/>
                        ✅ Mejora del contorno de los ojos<br/>
                    </p>
                    </BlogItem>
				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Tratamientos corporales</h2>
					</div>
				</div>
                    <BlogItem 
                        title="Presoterapia Full-Body"
                        img="img/servicios/presoterapia.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Masajes para Piernas Cansadas"
                        img="img/servicios/piernas-cansadas.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Masajes Descontracturantes"
                        img="img/servicios/masaje-descontracturante.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Radiofrecuencia Corporal"
                        img="img/servicios/radiofrecuencia.jpg"
                    ></BlogItem>
				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Tratamientos Faciales</h2>
					</div>
				</div>
				
                    <BlogItem 
                        title="Hydrafacial personalizada"
                        img="img/servicios/hydrafacial.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Dermapen"
                        img="img/servicios/dermapen.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Peeling Anti-Age"
                        img="img/servicios/anti-age.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Peeling Despigmentante"
                        img="img/servicios/peeling.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Peeling Anti-Acné"
                        img="img/servicios/anti-acne.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Microdermoabrasion"
                        img="img/servicios/microdermoabrasion.jpg"
                    ></BlogItem>
				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Micropigmentación</h2>
					</div>
				</div>
                    <BlogItem 
                        title="Micropigmentación de Labios"
                        img="img/servicios/micropigmentacion-de-labios.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Micropigmentación de Cejas"
                        img="img/servicios/micropigmentacion-cejas.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Micropigmentación Oncológica"
                        img="img/servicios/micropigmentacion-oncologica.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Eyeliner"
                        img="img/servicios/eyeliner.jpg"
                    ></BlogItem>
				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Depilación Láser</h2>
						<p>Sesiones sueltas sin BONOS - Láser de Diodo de alta potencia e intensidad - Compatible con el sol - Apto para todo tipo de pieles .</p>
					</div>
				</div>
                    <BlogItem 
                        title="Depilación láser - Mujeres"
                        img="img/servicios/depilacion-laser-mujer.jpg"
                    ></BlogItem>
                    <BlogItem 
                        title="Depilación láser - Hombres"
                        img="img/servicios/depilacion-laser-hombres.jpg"
                    ></BlogItem>

				<div class="col-12">
					<div class="section-title text-center">
						<h2 style="color:var(--color-primary)">Medicina estética</h2>
                        <p>Próximamente</p>
					</div>
				</div>

                    <BlogItem 
                        title="Relleno de labios con AH"
                        img="img/servicios/Tratamiento-de-labios-con-AH.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Rinomodelación con AH"
                        img="img/servicios/rinoplastia-con-ah.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Rellenos faciales"
                        img="img/servicios/rellenos-faciales.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Entrecejo"
                        img="img/servicios/acido-hialuronico-entrecejo.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Frente"
                        img="img/servicios/acido-hialuronico-frente.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Patas de gallo"
                        img="img/servicios/patas-gallo.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Ojeras"
                        img="img/servicios/ojeras-acido-hialuronico.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Mentón y mandíbula"
                        img="img/servicios/menton-mandibula-ah.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
                    <BlogItem 
                        title="Óvalo facial, nariz y ojos"
                        img="img/servicios/acido-hialuronico.jpg"
                        ribbon="Próximamente"
                    ></BlogItem>
            </div>
        </div>
    </section>

    <Tips
        title="¿Por qué venir a Más Bella?"
        subTitle1="Alivia el estrés diario"
        description1="para cuando sientas que necesitas un respiro y relajación."
        subTitle2="Recupera la energía"
        description2="Cuando sientas que necesitas un boost de energía para enfrentar el día a día."
        subTitle3="Mejora tu apariencia"
        description3="Cuando quieres sentirte más atractivo y mejor contigo mismo."
    />
</Layout>

<style>
.section-title p {
	color: white;
	background-color: #d80a7c;
	margin-top: 15px;
	font-size: 1rem !important;
	padding: 25px;
	border-radius: 20px;
}


</style>