---
import QuoteLeft from '@/components/icons/QuoteLeft.astro';
---
<section class="overflow-hidden pb-24 spad bg-body-light">
    <div class="container mx-auto">
        
        <div class="text-center">
            <div class="section-title">
                <span>Beneficios</span>
                <h2>Conoce nuestras promos</h2>
            </div>
        </div>
        <div class="grid grid-cols-12 mx-auto">
            <div class="col-span-12 md:col-span-6  max-md:mb-8 px-4">
                <div class="testimonial__item">
                    <div class="testimonial__author">
                        <div class="testimonial__author__icon">
                            <QuoteLeft className="inline" />
                        </div>
                        <div class="testimonial__author__text">
                            <h5>PLAN AMIGO</h5>
                            <span>Ven con un Amig@</span>
                        </div>
                    </div>
                    <div class="rating">
                        20% de descuento
                    </div>
                    <p>Obtendrán un <strong>20% de descuento</strong> en la primera sesión de <strong>Depilación Láser</strong></p>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 px-4">
                <div class="testimonial__item">
                    <div class="testimonial__author">
                        <div class="testimonial__author__icon">
                            <QuoteLeft className="inline" />
                        </div>
                        <div class="testimonial__author__text">
                            <h5>Primera Cita</h5>
                            <span>¿Eres nueva?</span>
                        </div>
                    </div>
                    <div class="rating">
                        Gratis
                    </div>
                    <p>¡La primera cita es <strong>Gratis</strong> si vienes por primera vez!</p>
                </div>
            </div>
        </div>
    </div>
</section>