---
interface Props {
    title: string;
    img: string;
    ruta?: string;
    ribbon?: string;
}
const { title, img, ruta, ribbon } = Astro.props;
---
<div class="col-span-12 sm:col-span-6 lg:col-span-4 px-4">
  <div class="blog__item">
      <div class="blog__item__pic relative overflow-hidden">
          <img src={img} alt={title}>
          { ribbon && 
              <div class="absolute right-0 top-0 h-16 w-16">
                <div
                  class="absolute transform rotate-45 bg-primary-100 text-center text-white font-bold py-1 right-[-35px] top-[32px] w-[170px]">
                  Próximamente
                </div>
              </div>
          }
      </div>
      <div class="blog__item__text">
          <h5><a href={ruta}>{title}</a></h5>
          <p><slot /></p>
      </div>
  </div>
</div>