---
import {
  whatsappLinkeable,
  dateLink,
} from "@/services/enviroment.js";

import IconWhatsApp from "@/components/icons/WhatsAppSimple.astro";
import IconDate from "@/components/icons/Date.astro";
---
<section class="bg-light call-to-action">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                    <span>Pide cita</span>
                    <h2>Haz una reserva</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-right">
                <a target="_blank" href={dateLink} class="btn btn-primary rounded-pill btn-masbella button-cta" type="button"><IconDate /><span class="ml-2">Cita Online</span></a>
            </div>
            <div class="col-6 text-left">
                <a target="_blank" href={'https://wa.me/34' + whatsappLinkeable} class="btn btn-primary rounded-pill whatsapp-color button-cta" type="button"><IconWhatsApp /><span class="ml-2">WhatsApp</span></a>
            </div>
        </div>
    </div>
</section>
<style>
    .button-cta {
        width:100%;
        max-width: 165px;
    }
    .call-to-action {
        margin-top: 120px;
        margin-bottom:50px;
        padding: 60px 0;
        text-align: center;
    }
    .whatsapp-color {
        background: linear-gradient(0deg, #00B100, #09db09);
        border:none;
    }
    .whatsapp-color:hover {
        background: white;
        color: #09db09;
        border: 1px solid #09db09;
    }
</style>