---
import {
  whatsappLinkeable,
  dateLink,
} from "@/services/enviroment.js";

import IconWhatsApp from "@/components/icons/WhatsAppSimple.astro";
import IconDate from "@/components/icons/Date.astro";
---
<section class="bg-light call-to-action">
    <div class="container mx-auto">
        <div class="section-title">
            <span>Pide cita</span>
            <h2>Haz una reserva</h2>
        </div>
        <div class="inline-block">
            <div class="inline-block text-right">
                <a target="_blank" href={dateLink} class="py-2 px-4 btn-primary rounded-lg btn-masbella button-cta" type="button"><IconDate className="inline-block" /><span class="ml-2">Cita Online</span></a>
            </div>
            <div class="inline-block text-left">
                <a target="_blank" href={'https://wa.me/34' + whatsappLinkeable} class="py-2 px-4 btn-primary rounded-lg whatsapp-color button-cta" type="button"><IconWhatsApp className="inline-block" /><span class="ml-2">WhatsApp</span></a>
            </div>
        </div>
    </div>
</section>
<style>
    .button-cta {
        width:100%;
        max-width: 165px;
    }
    .call-to-action {
        margin-top: 120px;
        margin-bottom:50px;
        padding: 60px 0;
        text-align: center;
    }
    .whatsapp-color {
        background: linear-gradient(0deg, #00B100, #09db09);
        border:none;
        color: white;
    }
    .whatsapp-color:hover {
        background: white;
        color: #09db09;
        border: 1px solid #09db09;
    }
</style>