
<!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__logo">
            <a href="./" style="justify-content: center;display: flex;margin: -35px 0 0 -15px;"><img src="img/logo-web.png" alt="logo más bella" style="width: 200px;"></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__btn">
            <a href="./contacto" class="primary-btn">Contacto</a>
        </div>
        <ul class="offcanvas__widget">
            <li><a target="_blank" href="tel:951018043"><i class="fa fa-phone mr-2"></i> 951 01 80 43</a></li>
            <li><a target="_blank" href="https://maps.app.goo.gl/ft5wWbRZyTWD1j166"><i class="fa fa-map-marker mr-2"></i>Calle del Mar 6, torre del mar</a></li>
            <li><i class="fa fa-clock-o mr-2"></i> Lunes a viernes de 10:00 a 20:30 hs</li>
        </ul>
        <div class="offcanvas__social">
            <a target="_blank" href="https://www.instagram.com/masbella_medical/"><i class="fa fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100089553376989"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <ul class="header__top__left">
                            <li><a target="_blank" href="tel:951018043"><i class="fa fa-phone mr-2"></i> 951 01 80 43</a></li>
							<li><a target="_blank" href="https://maps.app.goo.gl/ft5wWbRZyTWD1j166"><span class="d-none d-md-block"><i class="fa fa-map-marker mr-2"></i>Calle del Mar 6, torre del mar</span></a></li>
                        </ul>
                    </div>
					<div class="col-lg-4 d-none d-md-block">
						<div class="header__top__right">
							<a href="./contacto">PRIMERA CITA GRATUITA</a>
							</div>
					</div>
                </div>
            </div>
        </div>
		<header class="header fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="header__logo">
                            <a href="./"><img src="img/logo.png" alt="logo más bella" style="width: 150px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__menu__option">
                            <nav class="header__menu">
                                <ul>
                                    <li ><a href="./">Inicio</a></li>
                                    <li ><a href="./servicios">Servicios</a></li>
                                    <li ><a href="./about">Sobre nosotros</a></li>
                                </ul>
                            </nav>
                            <div class="header__btn">
                                <a href="./contacto" class="primary-btn">Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
    <!-- Header Section End -->