---
interface Props {
	background: string;
	subtitulo: string;
	titulo: string;
}
const { background, subtitulo, titulo } = Astro.props;
---
<section class="hero spad set-bg" style=`background-image: url(${background})`>
    <div class="container mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12 lg:col-span-6">
                <div class="hero__text">
                    <h1><em>{subtitulo}</em>{titulo}</h1>
                    <a href="./contacto" class="primary-btn normal-btn">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.hero {
	padding-top: 145px;
	padding-bottom: 215px;
	margin-bottom: -90px;
	margin-top: 110px;
}

.hero__text h1 em {
	font-size: 15px;
	font-weight: 500;
	color: var(--color-primary);
	text-transform: uppercase;
	display: block;
}

.hero__text h2,.hero__text h1 {
	font-size: 48px;
	color: #111111;
	font-weight: 700;
	line-height: 60px;
	margin-top: 10px;
	margin-bottom: 35px;
}
</style>