<section class="hero spad set-bg" style="background-image: url('img/hero-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero__text">
                    <h1><em>Depilación láser de Diodo y estética avanzada</em>Cuidamos de tu belleza y bienestar</h1>
                    <a href="./contacto" class="primary-btn normal-btn">Contactanos</a>
                </div>
            </div>
        </div>
    </div>
</section>