<section id="icon-boxes" class="icon-boxes">
    <div class="container mx-auto">

      <div class="grid grid-cols-12">
        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon"><i class="fa--check"></i></div>
            <p class="description">Antes de realizar cualquier tratamiento haremos un diagnóstico preventivo sin compromiso para asesorarte de manera personalizada.</p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa--check"></i></div>
            <p class="description">Nos caracterizamos por estar en formación constante para brindar el mejor servicio y las técnicas de última generación del mundo de la estética.</p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa--check "></i></div>
            <p class="description">Somos responsables de la calidad de nuestros servicios y cuidamos cada detalle para ofrecerte un ambiente en donde la protagonista eres tú</p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <style>
    .fa--check {
        display: inline-block;
        width: 1.20em;
        height: 1em;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 1280'%3E%3Cpath fill='%23000' d='M1575 310q0 40-28 68l-724 724l-136 136q-28 28-68 28t-68-28l-136-136L53 740q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295l656-657q28-28 68-28t68 28l136 136q28 28 28 68'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
  </style>