<section class="latest spad">
    <div class="container mx-auto px-4">
        <div class="latest__item">
            <h5>Comunicado</h5>
            <p>Monica Beatriz Gómez Vitali, persona física de Mas Bella, ha recibido una subvención de la Consejería de Empleo, Empresa y Trabajo Autónomo de la Junta de Andalucía, financiada por la Unión Europea con cargo al Programa FSE+ Andalucía 2021-2027, para el fomento del trabajo autónomo en Andalucía. Linea 2 de subvención para inicio de actividad económica o profesional, destinada a mujeres trabajadoras autónomas de 35 años o más. </p>
            <div class="flex flex-wrap">
                <img class="img-subvencion" src="img/subvencion/1.png" alt="">
                <img class="img-subvencion" src="img/subvencion/2.png" alt="">
                <img class="img-subvencion ml-3" src="img/subvencion/3.png" alt="">
            </div>
        </div>
    </div>
</section>
<style>
    .img-subvencion {
        height:65px;
    }
</style>