<section class="latest spad">
    <div class="container">
    
        <div class="row">
            <div class="col-12">
                <div class="latest__item">
                    <h5>Comunicado</h5>
                    <p>Monica Beatriz Gómez Vitali, persona física de Mas Bella, ha recibido una subvención de la Consejería de Empleo, Empresa y Trabajo Autónomo de la Junta de Andalucía, financiada por la Unión Europea con cargo al Programa FSE+ Andalucía 2021-2027, para el fomento del trabajo autónomo en Andalucía. Linea 2 de subvención para inicio de actividad económica o profesional, destinada a mujeres trabajadoras autónomas de 35 años o más. </p>

                </div>
            </div>
        </div>
    </div>
</section>