---
import IconCorporal from '@/components/icons/Corporal.astro';
import IconFacial from '@/components/icons/Facial.astro';
import IconLaser from '@/components/icons/Laser.astro';
import CheckIcon from '@/components/icons/Check.astro';
---
<!-- Services Section Begin -->
<section class="services spad set-bg" style="background-image: url('img/services-bg.jpg')">
    <div class="container mx-auto">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-8 sm:col-span-6">
                <div class="section-title max-sm:text-center">
                    <span >¿Qué hacemos?</span>
                    <h2 class="!text-white">Nuestros servicios</h2>
                </div>
            </div>
            <div class="col-span-12 md:col-span-4 sm:col-span-6">
                <div class="text-center sm:text-right text-white max-sm:mb-6">
                    <a href="./servicios" class="primary-btn">Ver todos</a>
                </div>
            </div>
        </div>
        
        <div class="grid grid-cols-12 items-center">
            <div class="mx-auto max-w-xl col-span-12 lg:col-span-6 px-4">
                <div class="services__item bg-white hover:bg-primary-100 py-11 pr-8 pl-12 rounded-md mb-8 transition-all duration-300 group">
                    <div class="services__item__icon float-left mr-7">
                        <IconCorporal />
                    </div>
                    <div class="services__item__text overflow-hidden">
                        <h5 class="text-gray-900 font-bold group-hover:text-white mb-2">Tratamientos corporales</h5>
                        <ul class="services__details__feature">
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Remodelación corporal con Bellaction Dúo</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Tratamientos de celulitis</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Drenaje linfático</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Presoterapia</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Masajes para piernas cansadas</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Masajes descontracturantes</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Radiofrecuencia corporal</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Micropigmentación oncológica</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mx-auto max-w-xl col-span-12 lg:col-span-6 px-4">
                <div class="services__item bg-white hover:bg-primary-100 py-11 pr-8 pl-12 rounded-md mb-8 transition-all duration-300 group">
                    <div class="services__item__icon float-left mr-7">
                        <IconFacial />
                    </div>
                    <div class="services__item__text overflow-hidden">
                        <h5 class="text-gray-900 font-bold group-hover:text-white mb-2">Tratamientos faciales</h5>
                        <ul class="services__details__feature">
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Rejuvenecimiento facial con Bellaction Dúo</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Dermapen </li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Hydrafacial personalizada</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Peeling anti-acné, anti-age, despigmentante</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Micropigmentación de labios y cejas</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Eyeliner</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Radiofrecuencia</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Dermoabrasión</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 px-4">
                <div class="services__item bg-white hover:bg-primary-100 py-11 pr-8 pl-12 rounded-md mb-8 transition-all duration-300 group">
                    <div class="services__item__icon float-left mr-7">
                        <span class="flaticon-038-beauty"></span>
                    </div>
                    <div class="services__item__text overflow-hidden">
                        <h5 class="text-gray-900 font-bold group-hover:text-white mb-2">Medicina estética</h5>
                        <ul class="services__details__feature">
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Relleno de labios con AH</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Rinomodelación con AH </li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Rellenos faciales</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Entrecejo</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Frente</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Patas de gallo</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Ojeras</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Mentón y mandíbula</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Óvalo facial, nariz y ojos</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="col-span-12 max-w-xl mx-auto px-4">
                <div class="services__item bg-white hover:bg-primary-100 py-11 pr-8 pl-12 rounded-md mb-8 transition-all duration-300 group">
                    <div class="services__item__icon float-left mr-7">
                        <IconLaser />
                    </div>
                    <div class="services__item__text overflow-hidden">
                        <h5 class="text-gray-900 font-bold group-hover:text-white mb-2">Depilación Láser de Diodo</h5>
                        <ul class="services__details__feature">
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Láser de diodo de alta potencia e intensidad</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Resultados desde la 1ra sesión</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Sesiones sueltas sin BONOS</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Indoloro con punta de hielo</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Compatible con el sol</li>
                            <li class="group-hover:text-white"><CheckIcon className="inline-block text-primary-100 group-hover:text-white w-5 h-5 mr-2" />Apto para todo tipo de piel</li>
                        </ul>
                        <p class="text-gray-600 group-hover:text-white">Pide tu sesión de axilas gratis para probar nuestro método (plazas limitadas)</p>
                    </div>
                </div>
            </div>
            <div class="col-span-12">
                <div class="text-center text-white">
                    <a href="./contacto" class="primary-btn">Más información</a>
                </div>
            </div>
        </div>
    </div>
</section>

