<section id="icon-boxes" class="icon-boxes">
    <div class="container mx-auto">

      <div class="grid grid-cols-12">
        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="36" x="0" y="0" viewBox="0 0 256 256" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><pattern id="a" width="73.532" height="73.532" data-name="New Pattern Swatch 3" patternUnits="userSpaceOnUse" viewBox="0 0 73.532 73.532"><path fill="#f46262" d="M0 0h73.532v73.532H0z" opacity="1" data-original="#f46262"></path></pattern><pattern id="b" width="73.532" height="73.532" data-name="New Pattern Swatch 2" patternUnits="userSpaceOnUse" viewBox="0 0 73.532 73.532"><path fill="#ff737d" d="M0 0h73.532v73.532H0z" opacity="1" data-original="#ff737d"></path></pattern><path fill="url(#a)" d="M245.86 145.43a10.54 10.54 0 0 1-1.38 1.03 6.488 6.488 0 0 0-.89-3.12c-5.33-9.19-23.57-38.87-48.83-61.81-30.26-27.47-58.55-4.81-58.55-4.81S119.53 44.54 80.73 57.4C49.2 67.86 21.16 86.86 11.77 93.61a6.43 6.43 0 0 1 2.69-5.27c8.59-6.24 37.29-25.99 69.68-36.72 38.79-12.86 55.48 19.31 55.48 19.31s28.29-22.66 58.55 4.82c25.26 22.93 43.49 52.62 48.83 61.8a6.317 6.317 0 0 1-1.14 7.88z" opacity="1" data-original="url(#a)"></path><path fill="url(#b)" d="M244.48 146.46c-3.32 2.07-9.31 3.35-20.12 1.06-23.72-5.01-57.07-19.35-95.15-27.41s-74.37-8.46-98.09-13.48C18.6 103.98 13.92 99.57 12.3 96a5.928 5.928 0 0 1-.53-2.39c9.39-6.75 37.43-25.75 68.96-36.21 38.8-12.86 55.48 19.32 55.48 19.32s28.29-22.66 58.55 4.81c25.26 22.94 43.5 52.62 48.83 61.81a6.488 6.488 0 0 1 .89 3.12z" opacity="1" data-original="url(#b)"></path><path fill="url(#a)" d="M122.962 149.64s23.3-.526 39.48-3.923c19.278-4.047 58.524 7.08 70.671 10.56 6.074 1.74 8.043 4.431 8.494 6.686a5.739 5.739 0 0 1-1.672 5.14C194.042 213.659 110.8 207.089 110.8 207.089S32.04 179.376 8.537 119.135a5.74 5.74 0 0 1 .553-5.377c1.326-1.88 4.216-3.542 10.474-2.672 12.516 1.739 52.9 7.464 68.89 18.974 13.416 9.66 34.508 19.58 34.508 19.58z" opacity="1" data-original="url(#a)"></path></g></svg>
            </div>
            <h4 class="title"><a href="">Tratamientos de estética</a></h4>
            <p class="description">En <strong>Clínica Más Bella</strong>, brindamos <strong>tratamientos personalizados</strong> para cada necesidad. Nuestro <strong>objetivo</strong> es ayudarte a que te <strong>sientas bien</strong>.</p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 256 256"><path fill="currentColor" d="M232 152a32 32 0 1 0-39.93 31a8 8 0 0 0-.07 1a32 32 0 0 1-32 32h-24a32 32 0 0 1-32-32v-40.52c31.47-4 56-31.47 56-64.31V40a16 16 0 0 0-16-16h-16a8 8 0 0 0 0 16h16v39.17c0 26.58-21.25 48.49-47.36 48.83A48 48 0 0 1 48 80V40h16a8 8 0 0 0 0-16H48a16 16 0 0 0-16 16v40a64 64 0 0 0 56 63.49V184a48.05 48.05 0 0 0 48 48h24a48.05 48.05 0 0 0 48-48a8 8 0 0 0-.07-1A32 32 0 0 0 232 152m-32 8a8 8 0 1 1 8-8a8 8 0 0 1-8 8"/></svg>
            </div>
            <h4 class="title"><a href="">Diagnóstico</a></h4>
            <p class="description"><strong>!La primer consulta es gratis!</strong> Te ayudaremos a encontrar el tratamiento perfecto para lo que necesitas, ofrecemos <strong>atención personalizada</strong>, responderemos todas tus dudas, <strong><a href="./contacto">¡escríbenos ahora!</a></strong></p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-4 flex items-stretch mb-5 lg:mb-0 px-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 1664 1664"><path fill="currentColor" d="m1190 581l293-293l-107-107l-293 293zm447-293q0 27-18 45L333 1619q-18 18-45 18t-45-18L45 1421q-18-18-18-45t18-45L1331 45q18-18 45-18t45 18l198 198q18 18 18 45M286 98l98 30l-98 30l-30 98l-30-98l-98-30l98-30l30-98zm350 162l196 60l-196 60l-60 196l-60-196l-196-60l196-60l60-196zm930 478l98 30l-98 30l-30 98l-30-98l-98-30l98-30l30-98zM926 98l98 30l-98 30l-30 98l-30-98l-98-30l98-30l30-98z"/></svg>
            </div>
            <h4 class="title"><a href="">Estética avanzada</a></h4>
            <p class="description">Contamos con <strong>tecnología avanzada</strong> y <strong>equipos</strong> de última generación para <strong>garantizar resultados</strong> visibles y duraderos. Nuestro <strong>equipo altamente capacitado</strong> trabaja para brindarte una experiencia única y personalizada</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Icon Boxes Section -->