---
interface Props {
    images: {
        src: string;
        mini: string;
        class: string;
        width: number;
        height: number;
    }[];
}

const { images } = Astro.props;
---
<section class="md:px-8 mt-6">
    <div class="container mx-auto">
        <div class="grid-wrapperimg">
            {
                images.map((image) => (
                    <a class={'lightbox ' + image.class} data-pswp-src={image.src} data-pswp-width={image.width} data-pswp-height={image.height}>
                        <img loading="lazy" src={image.mini} class="img-grid-mosaic border border-primary-50 rounded-lg shadow" />
                    </a>
                ))
            }
        </div>
    </div>
</section>

<style>
    /*Galería */
.img-grid-mosaic {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapperimg > div,.grid-wrapperimg > a {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapperimg > div > img,.grid-wrapperimg > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 12px;
}
.grid-wrapperimg > div > img:hover,.grid-wrapperimg > a > img:hover {
	cursor: pointer;
    transform: scale(1.1);
}
@media (min-width: 500px) {
	.grid-wrapperimg {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: 200px;
		grid-auto-flow: dense;
	}
	.ludwig {
		position: relative;
		padding-left: 1em;
		border-left: 0.2em solid var(--color-primary);
		font-family: 'Times New Roman', serif;
		font-size: 2.4em;
		line-height: 1.5em;
		font-weight: 100;
	}
}
.grid-wrapperimg .wide {
	grid-column: span 2;
}
.grid-wrapperimg .tall {
	grid-row: span 2;
}
.grid-wrapperimg .big {
	grid-column: span 2;
	grid-row: span 2;
}

</style>